html, body {
    height: 100%;
}

.form-btn {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vCenter {
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.clickableIcon {
    color: #BECFDD;
}

.content {
    padding: 10px;
}

.form-container {
    padding-bottom: 30px;
    border-radius: 4px;
    box-shadow: 0px 18px 6px -8px #1A1A1A, 0px 0px 2px #0D0D0D;
}

.permissionsBlock {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    border-style: solid;
    box-shadow: 0px 5px 5px -8px #1A1A1A, 0px 0px 2px #0D0D0D;
    border: 1px;
}

.hiddenRow {
    padding: 0px !important;
}

.hiddenDiv {
    padding: 20px;
}

.header-left {
    display: inline-block;
    margin-top: 0px;
}

div.control-label {
    text-align: left !important;
}

.scopeIcon {
    font-size: 3em;
    color: #101010;
    margin-right: 25px;
}

.scopeHeader {
    font-size: 1.5em;
    display: inline-block;
}

.scopeDescription {
    font-size: 1em;
    color: #808080;
    display: block;
}

.permission {
    margin-bottom: 20px;
}

.checkbox label {
    display: inline;
}

tr.tableVCenter td {
    vertical-align: middle !important;
}

.select2-container {
  padding: 0px !important;
  border-width: 0px !important;
}

.select2-container .select2-choice {
  height: 34px !important;
  line-height: 34px !important;
}

.password-requirement {
    padding-left: 10px;
    padding-top: 5px;
}

.footer, .push {
    clear: both;
    height: 170px;
    width: 100%;
    color: #808080;
}

.footer p {
    text-align: center;
}

.footer-wrapper {
    min-height: 100%;
    margin: 0 auto -170px;
}

.logoImage {
    max-height: 40px;
    min-height: 40%;
    width: 50%;
}

@media only screen and (min-height: 600px) {
    .form-container {
        margin-top: 100px;
    }
}