<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>
<ui:param name="showDialog" value="false" />


<ui:define name="content">

    <div class="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{msg['admin.currentConfiguration']}</h2>
        <h:form styleClass="form-horizontal" enctype="multipart/form-data">
            <div class="form-group">
                <h:outputLabel for="localAccountsEnabled" styleClass="col-xs-4 control-label">#{msg['admin.localAccountsEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="localAccountsEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.localAccountsEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="registrationEnabled" styleClass="col-xs-4 control-label">#{msg['admin.registrationEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="registrationEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.registrationEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="restRegistrationEnabled" styleClass="col-xs-4 control-label">#{msg['admin.registrationRestEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="restRegistrationEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.restRegistrationEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="defaultUserEnabled" styleClass="col-xs-4 control-label">#{msg['admin.defaultUserEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="defaultUserEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.defaultUserEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="verifyEmailEnabled" styleClass="col-xs-4 control-label">#{msg['admin.emailVerificationEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="verifyEmailEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.verifyEmailEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="verifyRequiredEnabled" styleClass="col-xs-4 control-label">#{msg['admin.emailVerificationRequired']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="verifyRequiredEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.verifyRequiredEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <h2>#{msg['admin.passwordPolicy']}</h2>

            <div class="form-group">
                <h:outputLabel for="minLength" styleClass="col-xs-4 control-label">#{msg['admin.minLength']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="minLength" layout="block">
                    <h:inputText value="#{configBean.minLength}" styleClass="form-control">
                        <f:convertNumber integerOnly="true" />
                    </h:inputText>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="minUpper" styleClass="col-xs-4 control-label">#{msg['admin.minUpper']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="minUpper" layout="block">
                    <h:inputText value="#{configBean.minUpper}" styleClass="form-control">
                        <f:convertNumber integerOnly="true" />
                    </h:inputText>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="minLower" styleClass="col-xs-4 control-label">#{msg['admin.minLower']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="minLower" layout="block">
                    <h:inputText value="#{configBean.minLower}" styleClass="form-control">
                        <f:convertNumber integerOnly="true" />
                    </h:inputText>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="minSpecial" styleClass="col-xs-4 control-label">#{msg['admin.minSpecial']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="minSpecial" layout="block">
                    <h:inputText value="#{configBean.minSpecial}" styleClass="form-control">
                        <f:convertNumber integerOnly="true" />
                    </h:inputText>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="minNumbers" styleClass="col-xs-4 control-label">#{msg['admin.minNumer']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="minNumbers" layout="block">
                    <h:inputText value="#{configBean.minNumbers}" styleClass="form-control">
                        <f:convertNumber integerOnly="true" />
                    </h:inputText>
                </h:panelGroup>
            </div>

            <h2>#{msg['admin.banner']}</h2>

            <div class="form-group">
                <h:outputLabel for="contactInformation" styleClass="col-xs-4 control-label">#{msg['admin.contactInformation']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="contactInformation" layout="block">
                    <h:inputText value="#{configBean.contactInformation}" styleClass="form-control"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="logo" styleClass="col-xs-4 control-label">#{msg['admin.changeLogo']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="logo" layout="block">
                    <h:graphicImage value="/images/logo" styleClass="logoImage" style="margin-bottom: 25px;"/>
                    <h:inputFile id="file" value="#{configBean.fileLogo}" validator="#{configBean.validateLogoFile}" />
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="eulaEnabled" styleClass="col-xs-4 control-label">#{msg['admin.eulaEnabled']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="eulaEnabled" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.eulaEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="eula" styleClass="col-xs-4 control-label">#{msg['admin.eula']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="eula" layout="block">
                    <h:inputTextarea value="#{configBean.eula}" styleClass="form-control"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="adminEmail" styleClass="col-xs-4 control-label">#{msg['admin.adminEmail']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="adminEmail" layout="block">
                    <h:inputText value="#{configBean.adminEmail}" styleClass="form-control"/>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="externalAuthorization" styleClass="col-xs-4 control-label">#{msg['admin.externalAuthorization']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="externalAuthorization" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.externalAuthorization}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="clientCertificates" styleClass="col-xs-4 control-label">#{msg['admin.clientCertificate']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="clientCertificates" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.clientCertificateEnabled}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="hideClientCertificateButton" styleClass="col-xs-4 control-label">#{msg['admin.hideClientCertificateButton']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="hideClientCertificateButton" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{configBean.hideClientCertificateButton}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <ui:include src="../components/messages.xhtml" />

            <div class="form-group">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <h:commandButton value="#{msg['admin.saveConfig']}" action="#{configBean.saveConfig}" styleClass="btn btn-primary" />
                    </div>
                </div>
            </div>

        </h:form>
    </div>

</ui:define>

</ui:composition>
