<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <h3 class="header-left">
        <h:outputText value="#{msg['admin.debug']}"/>
    </h3>

    <h5>
        <h:outputFormat value="#{msg['admin.debugCodes']}">
            <f:param value="#{debugBean.requests.size()}"/>
        </h:outputFormat>
    </h5>

    <table class="table table-striped table-hover col-xs-12" id="table">
        <thead>
            <tr>
                <th scope="col">Client ID</th>
                <th scope="col">Client Name</th>
                <th scope="col">Code (first 16 characters)</th>
                <th scope="col">User ID</th>
                <th scope="col">Expiration</th>
            </tr>
        </thead>

        <tbody>
            <ui:repeat var="requestWrapper" value="#{debugBean.requests}">
            <tr>
                <td>
                    #{requestWrapper.client.clientId}
                </td>
                <td>
                    #{requestWrapper.client.name}
                </td>
                <td>
                    #{requestWrapper.request.code.length() > 16 ? requestWrapper.request.code.substring(0, 16) : requestWrapper.request.code}
                </td>
                <td>
                    #{requestWrapper.request.userId}
                </td>
                <td>
                    #{requestWrapper.request.expirationDate.toString()}
                </td>
            </tr>
            </ui:repeat>
        </tbody>
    </table>

    <h5>
        <h:outputText value="#{msg['admin.buildDetails']}"/>
    </h5>

    <p>
        <h:outputFormat value="#{msg['admin.buildDetailsAll']}">
            <f:param value="#{applicationBean.commitTimestamp}"/>
            <f:param value="#{applicationBean.commitBuildId}"/>
            <f:param value="#{applicationBean.commitBranch}"/>
        </h:outputFormat>
    </p>

    <h:outputScript>
        var table = $("#table").DataTable({
            stateSave: true
        });
    </h:outputScript>

</ui:define>

</ui:composition>
