<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core">

<h:head>
    <title>Samply.Auth Admin Interface</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <ui:include src="../components/styles.xhtml"/>

    <h:outputScript>
        var contextPath = '#{facesContext.externalContext.request.contextPath}';

        function scrollToForm() {
            $('html').animate({
                scrollTop: $("#formPanel").offset().top
            }, 1000);
        }

        $(function() {
            enableSelect2();
        });
    </h:outputScript>
</h:head>

<h:body styleClass="#{bodyClass}">

    <h:panelGroup styleClass="demo-ribbon-wrapper left fixed" rendered="#{! requestBean.isProduction()}">
        <div class="demo-ribbon">
            Demo
        </div>
    </h:panelGroup>

    <ui:include src="navbar.xhtml"/>

    <div class="navbar-shadow"/>

    <ui:fragment rendered="#{showDialog != 'false'}">
        <ui:include src="dialog.xhtml"/>
    </ui:fragment>

    <ui:insert name="body"/>

</h:body>
</html>
