<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="../editRole.xhtml">

<f:metadata>
    <f:viewParam name="role" value="#{roleEditBean.roleId}"/>
    <f:viewAction action="#{roleEditBean.init(true)}"/>
</f:metadata>

<ui:define name="navbar">
    <ui:include src="navbar.xhtml" />
</ui:define>

</ui:composition>
