<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">#{msg['admin.eulas']}</h3>
        <span class="pull-right">
            <h:link outcome="eulas.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th class="col-xs-3" scope="col">#{msg['admin.type']}</th>
                    <th class="col-xs-1" scope="col">#{msg['admin.lastVersion']}</th>
                    <th class="col-xs-4" scope="col">#{msg['admin.title']}</th>
                    <th class="col-xs-2" scope="col">#{msg['admin.languages']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="eula" value="#{eulaListBean.eulas}">
                <tr class="tableVCenter">
                    <td>
                        #{eula.eulaType}
                    </td>
                    <td>
                        #{eula.version}
                    </td>
                    <td>
                        #{eula.getTitleForLang(eula.language)}
                    </td>
                    <td>
                        #{eula.getLanguages().toString()}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <h:commandLink action="#{eulaListBean.edit(eula)}" value="#{msg['admin.edit']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :eulaForm"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:commandLink action="#{eulaListBean.addVersion(eula)}" value="#{msg['admin.addVersion']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :eulaForm"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:commandLink action="#{eulaListBean.addLanguage(eula)}" value="#{msg['admin.addLanguage']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :eulaForm"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>
    </h:form>


    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{eulaListBean.eulaType == null ? msg['admin.newEula'] : msg['admin.editEula']}</h2>
        <h:form styleClass="form-horizontal" id="eulaForm">

            <div class="form-group">
                <h:outputLabel for="eulaType" styleClass="col-xs-4 control-label">#{msg['admin.type']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="eulaType" styleClass="form-control" value="#{eulaListBean.eulaType}"
                                 disabled="#{(eulaListBean.eulaType == null) ? 'false' : 'true'}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="eulaVersion" styleClass="col-xs-4 control-label">#{msg['admin.version']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="eulaVersion" styleClass="form-control" value="#{eulaListBean.version}" disabled="true"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="language" styleClass="col-xs-4 control-label">#{msg['admin.language']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:selectOneMenu id="language" styleClass="form-control select2" value="#{eulaListBean.language}">
                        <f:selectItems var="i" value="#{eulaListBean.getLanguages()}" itemValue="#{i}" itemLabel="#{i}"/>
                        <f:ajax listener="#{eulaListBean.changeLanguage()}" execute="@form" render="@form" event="change"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="title" styleClass="col-xs-4 control-label">#{msg['admin.title']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="title" styleClass="form-control" value="#{eulaListBean.title}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="htmlText" styleClass="col-xs-4 control-label">#{msg['admin.htmlText']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputTextarea id="htmlText" styleClass="form-control" rows="15" value="#{eulaListBean.htmlText}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="checkBoxLabel" styleClass="col-xs-4 control-label">#{msg['admin.checkBoxLabel']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputTextarea id="checkBoxLabel" styleClass="form-control" rows="5" value="#{eulaListBean.checkBoxLabel}"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-12">
                    <h:commandButton value="Submit" action="#{eulaListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                    <h:commandButton rendered="#{eulaListBean.eulaType != null}" value="#{msg.cancel}" action="#{eulaListBean.cancel}"
                                     styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
                </div>

                <div class="col-xs-12" style="margin-top: 10px">
                    <h:commandButton value="#{eulaListBean.preview ? msg['admin.refreshPreview'] : msg['admin.previewEula']}" styleClass="btn btn-primary col-xs-3 pull-right">
                        <f:ajax listener="#{eulaListBean.startPreview()}" execute="@form" render="@form"/>
                    </h:commandButton>
                </div>

            </div>

            <ui:fragment rendered="#{eulaListBean.preview}">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h1><h:outputText value="#{eulaListBean.title}" escape="false"/></h1>

                        <p>
                            <h:outputText value="#{eulaListBean.htmlText}" escape="false"/>
                        </p>
                        <h:panelGroup styleClass="form-group" layout="block" style="margin-bottom: 20px; margin-left: 20px">
                            <h:panelGroup layout="block">
                                <div class="checkbox" style="min-height: 0px">
                                    <h:selectBooleanCheckbox value="true"/>
                                </div>
                            </h:panelGroup>

                            <h:outputText value="#{eulaListBean.checkBoxLabel}" escape="false"/>
                        </h:panelGroup>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12" style="margin-top: 10px">
                        <h:commandButton value="#{msg['admin.closePreview']}" styleClass="btn btn-primary col-xs-3 pull-right">
                            <f:ajax listener="#{eulaListBean.stopPreview()}" render="@form"/>
                        </h:commandButton>
                    </div>

                </div>

            </ui:fragment>

        </h:form>
    </h:panelGroup>

</ui:define>

</ui:composition>
