<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">

    <div>

        <h1>
            <h:outputText value="#{msg['admin.titleExample']}" escape="false" />
        </h1>

        <br/><br/>

        <h:outputText value="#{msg['admin.textExamples']}" escape="false" />

        <br/><br/>

        <dl>
            <dt>username:</dt>
            <dd><h:outputText value="#{msg['admin.usernameExpl']}" escape="false" /></dd>
            <dt>email:</dt>
            <dd><h:outputText value="#{msg['admin.emailExpl']}" escape="false" /></dd>
            <dt>firstname:</dt>
            <dd><h:outputText value="#{msg['admin.firstnameExpl']}" escape="false" /></dd>
            <dt>lastname:</dt>
            <dd><h:outputText value="#{msg['admin.lastnameExpl']}" escape="false" /></dd>
            <dt>member:</dt>
            <dd><h:outputText value="#{msg['admin.memberExpl']}" escape="false" /></dd>
        </dl>

        <br/>

        <h:outputText value="#{msg['admin.targetTableText']}" escape="false" /><br/>

        <table class="table table-bordered col-xs-10">
            <caption><h:outputText value="#{msg['admin.targetTable']}" escape="false" /></caption>
            <thead>
            <tr>
                <th scope="col" class="col-xs-2">username</th>
                <th scope="col" class="col-xs-2">email</th>
                <th scope="col" class="col-xs-2">firstname</th>
                <th scope="col" class="col-xs-2">lastname</th>
                <th scope="col" class="col-xs-2">member</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>mustermann</td>
                <td>max.mustermann@dkfz-heidelberg.de</td>
                <td>Max</td>
                <td>Mustermann</td>
                <td>G230</td>
            </tr>

            </tbody>
        </table>

        <h:outputText value="#{msg['admin.queryExamples']}" escape="false" /><br/><br/>

        <ul>
            <li>
                <b><h:outputText value="#{msg['admin.simpleQuery1']}" escape="false" /></b><br/>
                <table class="table table-bordered col-xs-10">
                    <caption>Table: Users</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col-xs-1">id</th>
                        <th scope="col" class="col-xs-3">email</th>
                        <th scope="col" class="col-xs-3">name</th>
                        <th scope="col" class="col-xs-3">password</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>max.mustermann@dkfz-heidelberg.de</td>
                        <td>Mustermann</td>
                        <td>1a36591bceec49c832079e270d7e8b73</td>
                    </tr>

                    </tbody>
                </table>

                <code>SELECT email as username, email as email, name as lastname FROM users WHERE email = {email} AND password = MD5({password})</code><br/><br/>
            </li>

            <li>
                <b><h:outputText value="#{msg['admin.simpleQuery2']}" escape="false" /></b><br/>

                <table class="table table-bordered col-xs-12">
                    <caption>Table: Users</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col-xs-2">username</th>
                        <th scope="col" class="col-xs-2">email</th>
                        <th scope="col" class="col-xs-2">firstname</th>
                        <th scope="col" class="col-xs-2">lastname</th>
                        <th scope="col" class="col-xs-2">password</th>
                        <th scope="col" class="col-xs-2">group</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>mustermann</td>
                        <td>max.mustermann@dkfz-heidelberg.de</td>
                        <td>Max</td>
                        <td>Mustermann</td>
                        <td>1a36591bceec49c832079e270d7e8b73</td>
                        <td>G230</td>
                    </tr>

                    </tbody>
                </table>

                <code>SELECT email as email, firstname as firstname, lastname as lastname, username as username, group as member
                    FROM users WHERE email = {email} AND password = MD5({password})</code><br/><br/>
            </li>
            <li>
                <b><h:outputText value="#{msg['admin.simpleQuery3']}" escape="false" /></b><br/>

                <table class="table table-bordered col-xs-10">
                    <caption>Table: Users</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col-xs-2">username</th>
                        <th scope="col" class="col-xs-2">email</th>
                        <th scope="col" class="col-xs-2">firstname</th>
                        <th scope="col" class="col-xs-2">lastname</th>
                        <th scope="col" class="col-xs-2">password</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>mustermann</td>
                        <td>max.mustermann@dkfz-heidelberg.de</td>
                        <td>Max</td>
                        <td>Mustermann</td>
                        <td>1a36591bceec49c832079e270d7e8b73</td>
                    </tr>

                    </tbody>
                </table>

                <table class="table table-bordered col-xs-10">
                    <caption>Table: Groups</caption>
                    <thead>
                    <tr>
                        <th scope="col" class="col-xs-4">username</th>
                        <th scope="col" class="col-xs-6">group</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>mustermann</td>
                        <td>G230</td>
                    </tr>

                    <tr>
                        <td>mustermann</td>
                        <td>DKFZ</td>
                    </tr>

                    </tbody>
                </table>

                <code>SELECT email as email, firstname as firstname, lastname as lastname, username as username, group as member
                    FROM users LEFT JOIN groups ON users.username = groups.username WHERE email = {email} AND password = MD5({password})</code>
            </li>
        </ul>

    </div>

</ui:define>

</ui:composition>
