<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">#{msg['admin.externalIdentityProvider']}</h3>
        <span class="pull-right">
            <h:link outcome="external.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th class="col-xs-2" scope="col">#{msg['admin.identifier']}</th>
                    <th class="col-xs-3" scope="col">#{msg['admin.label']}</th>
                    <th class="col-xs-1" scope="col">#{msg['admin.type']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="ip" value="#{providerListBean.providers}">
                <tr class="tableVCenter #{ip.active ? '' : 'danger'}">
                    <td>
                        #{ip.identifier}
                    </td>
                    <td>
                        #{ip.label}
                    </td>
                    <td>
                        #{ip.type.toString()}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a href="#" onclick="showTableRow(this, #{ip.id});">#{msg['admin.details']}</a></li>
                                <li role="presentation">
                                    <h:commandLink action="#{providerListBean.edit(ip)}" value="#{msg['admin.edit']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :providerForm"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <h:commandLink action="#{providerListBean.delete(ip)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <div id="details" style="display: none;">
            <ui:repeat var="ip" value="#{providerListBean.providers}">
            <div id="details-#{ip.id}">
                <div class="pull-right">
                    <a href="#" class="btn btn-default" onclick="closeTableRow(this);"><i class="fa fa-times"></i></a>
                </div>

                <table class="table table-striped table-hover col-xs-6">
                    <tbody>
                        <tr class="tableVCenter">
                            <td class="col-xs-6">#{msg['admin.url']}</td>
                            <td class="col-xs-6">#{ip.url}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.active']}</td>
                            <td>#{ip.active}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.emailAttribute']}</td>
                            <td>#{ip.emailAttribute}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.nameAttribute']}</td>
                            <td>#{ip.nameAttribute}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.firstNameAttribute']}</td>
                            <td>#{ip.firstNameAttribute}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.lastNameAttribute']}</td>
                            <td>#{ip.lastNameAttribute}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.idAttribute']}</td>
                            <td>#{ip.idAttribute}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.memberAttribute']}</td>
                            <td>#{ip.memberAttribute}</td>
                        </tr>

                        <tr class="tableVCenter">
                            <td>#{msg['admin.url']}</td>
                            <td>#{ip.url}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.passwordRecoveryLink']}</td>
                            <td>#{ip.passwordRecoveryLink}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.defaultActive']}</td>
                            <td>#{ip.defaultUserEnabled}</td>
                        </tr>
                        <tr class="tableVCenter">
                            <td>#{msg['admin.defaultVerified']}</td>
                            <td>#{ip.defaultUserVerified}</td>
                        </tr>

                        <ui:fragment rendered="#{ip.type == 'LDAP'}">
                            <tr class="tableVCenter">
                                <td>#{msg['admin.searchBase']}</td>
                                <td>#{ip.searchBase}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.baseDN']}</td>
                                <td>#{ip.baseDN}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.searchFilter']}</td>
                                <td>#{ip.searchFilter}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.anonymous']}</td>
                                <td>#{ip.anonymous}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.bindDN']}</td>
                                <td>#{ip.bindDN}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.bindPassword']}</td>
                                <td>#{ip.bindPassword}</td>
                            </tr>
                        </ui:fragment>

                        <ui:fragment rendered="#{ip.type == 'ADFS'}">
                            <tr class="tableVCenter">
                                <td>#{msg['admin.resource']}</td>
                                <td>#{ip.resource}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.clientId']}</td>
                                <td>#{ip.clientId}</td>
                            </tr>
                        </ui:fragment>

                        <ui:fragment rendered="#{ip.type == 'SQL'}">
                            <tr class="tableVCenter">
                                <td>#{msg['admin.sqlDriver']}</td>
                                <td>#{ip.sqlDriver}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.bindDN']}</td>
                                <td>#{ip.bindDN}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.bindPassword']}</td>
                                <td>#{ip.bindPassword}</td>
                            </tr>
                            <tr class="tableVCenter">
                                <td>#{msg['admin.searchQuery']}</td>
                                <td>#{ip.searchQuery}</td>
                            </tr>
                        </ui:fragment>
                    </tbody>
                </table>
            </div>
            </ui:repeat>
        </div>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </h:form>


    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{providerListBean.provider == null ? msg['admin.newIdentityProvider'] : msg['admin.editIdentityProvider']}</h2>
        <h:form styleClass="form-horizontal" id="providerForm" >
            <div class="form-group">
                <h:outputLabel for="active" styleClass="col-xs-4 control-label">#{msg['admin.active']}</h:outputLabel>

                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="active" value="#{providerListBean.active}"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="identifier" styleClass="col-xs-4 control-label">#{msg['admin.identifier']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="identifier" styleClass="form-control" value="#{providerListBean.identifier}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="label" styleClass="col-xs-4 control-label">#{msg['admin.label']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="label" styleClass="form-control" value="#{providerListBean.label}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="providerType" styleClass="col-xs-4 control-label">#{msg['admin.type']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:selectOneMenu id="providerType" styleClass="form-control select2" value="#{providerListBean.type}">
                        <f:selectItems var="i" value="#{applicationBean.providerTypes}" itemValue="#{i}" itemLabel="#{msg[i]}"/>
                        <f:ajax execute="@form" render="@form" event="change"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="url" styleClass="col-xs-4 control-label">#{msg['admin.url']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="url" styleClass="form-control" value="#{providerListBean.url}"/>
                </div>
            </div>

            <ui:fragment rendered="#{providerListBean.type == 'SQL'}">
            <div class="form-group">
                <h:outputLabel for="sqlDriver" styleClass="col-xs-4 control-label">#{msg['admin.sqlDriver']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="sqlDriver" styleClass="form-control" value="#{providerListBean.sqlDriver}" />
                </div>
            </div>
            </ui:fragment>

            <ui:fragment rendered="#{providerListBean.type != 'SQL'}">
                <div class="form-group">
                    <h:outputLabel for="emailAttribute" styleClass="col-xs-4 control-label">#{msg['admin.emailAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="emailAttribute" styleClass="form-control" value="#{providerListBean.emailAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="nameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.nameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="nameAttribute" styleClass="form-control" value="#{providerListBean.nameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="firstNameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.firstNameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="firstNameAttribute" styleClass="form-control" value="#{providerListBean.firstNameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="lastNameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.lastNameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="lastNameAttribute" styleClass="form-control" value="#{providerListBean.lastNameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="idAttribute" styleClass="col-xs-4 control-label">#{msg['admin.idAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="idAttribute" styleClass="form-control" value="#{providerListBean.idAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="memberAttribute" styleClass="col-xs-4 control-label">#{msg['admin.memberAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="memberAttribute" styleClass="form-control" value="#{providerListBean.memberAttribute}"/>
                    </div>
                </div>
            </ui:fragment>

            <div class="form-group">
                <h:outputLabel for="pw-recovery" styleClass="col-xs-4 control-label">#{msg['admin.passwordRecoveryLink']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="pw-recovery" styleClass="form-control" value="#{providerListBean.passwordRecoveryLink}"
                        pt:placeholder="https://my-organization.org/password/recovery.html"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="defaultActive" styleClass="col-xs-4 control-label">#{msg['admin.defaultActive']}</h:outputLabel>

                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="defaultActive" value="#{providerListBean.defaultActive}"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="defaultVerified" styleClass="col-xs-4 control-label">#{msg['admin.defaultVerified']}</h:outputLabel>

                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="defaultVerified" value="#{providerListBean.defaultVerified}"/>
                        </label>
                    </div>
                </div>
            </div>

            <ui:fragment rendered="#{providerListBean.type == 'ADFS'}">
                <div class="form-group">
                    <h:outputLabel for="publicKey" styleClass="col-xs-4 control-label">#{msg.publicKey}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputTextarea style="font-family: 'Monospace';" rows="20" value="#{providerListBean.publicKey}" id="publicKey"
                            pt:placeholder="#{msg.publicKeyPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="resource" styleClass="col-xs-4 control-label">#{msg['admin.resource']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="resource" styleClass="form-control" value="#{providerListBean.resource}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="clientID" styleClass="col-xs-4 control-label">#{msg['admin.clientId']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="clientID" styleClass="form-control" value="#{providerListBean.clientId}"/>
                    </div>
                </div>
            </ui:fragment>

            <ui:fragment rendered="#{providerListBean.type == 'LDAP'}">
                <div class="form-group">
                    <h:outputLabel for="baseDN" styleClass="col-xs-4 control-label">#{msg['admin.baseDN']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="baseDN" styleClass="form-control" value="#{providerListBean.baseDN}" pt:placeholder="#{msg['admin.baseDNPlaceholder']}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="searchBase" styleClass="col-xs-4 control-label">#{msg['admin.searchBase']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="searchBase" styleClass="form-control" value="#{providerListBean.searchBase}" pt:placeholder="#{msg['admin.searchBasePlaceholder']}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="searchFilter" styleClass="col-xs-4 control-label">#{msg['admin.searchFilter']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="searchFilter" styleClass="form-control" value="#{providerListBean.searchFilter}" pt:placeholder="#{msg['admin.searchFilterPlaceholder']}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="anonymous" styleClass="col-xs-4 control-label">#{msg['admin.anonymous']}</h:outputLabel>

                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="anonymous" value="#{providerListBean.anonymous}">
                                    <f:ajax execute="@form" render="@form" event="change"/>
                                </h:selectBooleanCheckbox>
                            </label>
                        </div>
                    </div>
                </div>

                <ui:fragment rendered="#{! providerListBean.anonymous}">
                    <div class="form-group">
                        <h:outputLabel for="bindDN" styleClass="col-xs-4 control-label">#{msg['admin.bindDN']}</h:outputLabel>

                        <div class="col-xs-8">
                            <h:inputText id="bindDN" styleClass="form-control" value="#{providerListBean.bindDN}" pt:placeholder=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="bindPassword" styleClass="col-xs-4 control-label">#{msg['admin.bindPassword']}</h:outputLabel>

                        <div class="col-xs-8">
                            <h:inputSecret id="bindPassword" styleClass="form-control" value="#{providerListBean.bindPassword}" pt:placeholder=""/>
                        </div>
                    </div>
                </ui:fragment>
            </ui:fragment>

            <ui:fragment rendered="#{providerListBean.type == 'SQL'}">
                <div class="form-group">
                    <h:outputLabel for="sqlUsername" styleClass="col-xs-4 control-label">#{msg['admin.sqlUsername']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="sqlUsername" styleClass="form-control" value="#{providerListBean.bindDN}" />
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="sqlPassword" styleClass="col-xs-4 control-label">#{msg['admin.sqlPassword']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputSecret id="sqlPassword" styleClass="form-control" value="#{providerListBean.bindPassword}"/>
                    </div>

                </div>

                <div class="alert alert-info">
                    <h:outputText value="#{msg['admin.targetDBSchema']}"/>
                </div>

                <div class="form-group">
                    <div class="col-xs-4" align="right">
                        <h:outputLabel for="searchQuery" styleClass="control-label">#{msg['admin.searchQuery']}</h:outputLabel>
                        <button class="btn btn-default" type="button" id="helpbutton" onclick="window.open('example1.xhtml','_blank');return false;">
                            <i class="fa fa-question"></i>
                        </button>
                    </div>

                    <div class="col-xs-8">
                        <h:inputTextarea style="font-family: 'Monospace';" rows="20" value="#{providerListBean.searchQuery}" id="searchQuery"
                                         pt:placeholder="#{msg['admin.searchQueryPlaceholder']}" styleClass="form-control"/>
                    </div>
                </div>

            </ui:fragment>

            <div class="form-group">
                <div class="col-xs-12">
                    <h:commandButton value="Submit" action="#{providerListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                    <h:commandButton rendered="#{providerListBean.provider != null}" value="#{msg.cancel}" action="#{providerListBean.cancel}"
                            styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
                </div>
            </div>

            <ui:include src="../components/messages.xhtml" />

            <ui:fragment rendered="#{providerListBean.type == 'LDAP'}">

                <div class="form-group">
                    <h:outputLabel for="ldap-input-test" styleClass="col-xs-4 control-label">#{msg['admin.testLdapInput']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="ldap-input-test" styleClass="form-control" value="#{providerListBean.testLdapInput}"
                            pt:placeholder="#{msg['admin.testLdapInputPlaceholder']}"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <h:commandButton action="#{providerListBean.testLdap()}"
                            value="#{msg['admin.testLdap']}" styleClass="btn btn-primary col-xs-3 pull-right">
                            <f:ajax render="messages" execute="@form"/>
                        </h:commandButton>
                    </div>
                </div>

            </ui:fragment>

            <ui:fragment rendered="#{providerListBean.type == 'SQL'}">

                <h:inputSecret style="background-color: transparent; color: transparent; border:none; height:2px; width: 2px"/>

                <div class="form-group">
                    <div class="col-xs-12">
                        <h:commandButton action="#{providerListBean.testSQL()}"
                                         value="#{msg['admin.testSQL']}" styleClass="btn btn-primary col-xs-3 pull-right">
                            <f:ajax render="messages" execute="@form"/>
                        </h:commandButton>
                    </div>
                </div>

            </ui:fragment>

            <h:outputScript>
                enableSelect2();
            </h:outputScript>
        </h:form>
    </h:panelGroup>

</ui:define>

</ui:composition>
