<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">Known clients</h3>
        <span class="pull-right">
            <h:link outcome="index.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table id="table" class="table table-striped table-hover col-xs-12">
            <thead>
                <tr>
                    <th class="col-xs-5" scope="col">#{msg['admin.name']}</th>
                    <th class="col-xs-5" scope="col">#{msg['admin.description']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="client" value="#{clientListBean.clients}">
                <tr class="#{client.active ? 'success' : 'danger'} tableVCenter">
                    <td>
                        <i class="fa fa-#{client.trusted ? 'certificate' : 'question'} fa-fw"></i>
                         #{client.name}
                    </td>
                    <td>
                        #{client.description}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a href="#" onclick="showTableRow(this, #{client.id});">#{msg['admin.details']}</a></li>
                                <li role="presentation">
                                    <h:commandLink action="#{clientListBean.edit(client)}" value="#{msg['admin.edit']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :clientForm"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:commandLink action="#{clientListBean.toggle(client)}" value="#{client.active ? 'Disable' : 'Enable'}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:commandLink action="#{clientListBean.toggleTrust(client)}" value="#{client.trusted ? 'Untrust' : 'Trust'}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <h:commandLink action="#{clientListBean.delete(client)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <div style="display: none" id="details">
            <ui:repeat var="client" value="#{clientListBean.clients}">
            <div id="details-#{client.id}">
                <div class="pull-right">
                    <a href="#" class="btn btn-default" onclick="closeTableRow(this);"><i class="fa fa-times"></i></a>
                </div>
                <table class="table table-striped table-hover col-xs-12">
                    <tbody>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.redirectUrl']}</td>
                            <td class="col-xs-6">#{client.redirectUrl}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.clientId']}</td>
                            <td class="col-xs-6">#{client.clientId}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.clientSecret']}</td>
                            <td class="col-xs-6">#{client.clientSecret}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.type']}</td>
                            <td class="col-xs-6">#{msg[client.type]}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.trusted']}</td>
                            <td class="col-xs-6">#{client.trusted}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.whitelist']}</td>
                            <td class="col-xs-6">#{client.whitelist}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.basicAuthentication']}</td>
                            <td class="col-xs-6">#{client.basicAuthentication}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.eulaClient']}</td>
                            <td class="col-xs-6">#{clientListBean.getEulaForClient(client.id)}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </ui:repeat>
        </div>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </h:form>


    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{clientListBean.client == null ? msg['admin.newClient'] : msg['admin.editClient']}</h2>
        <h:form styleClass="form-horizontal" id="clientForm">
            <div class="form-group">
                <h:outputLabel for="clientName" styleClass="col-xs-4 control-label">#{msg['admin.clientName']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="clientName" styleClass="form-control" value="#{clientListBean.name}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="clientDescription" styleClass="col-xs-4 control-label">#{msg['admin.clientDescription']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="clientDescription" styleClass="form-control" value="#{clientListBean.description}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="redirectUrl" styleClass="col-xs-4 control-label">#{msg['admin.redirectUrl']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="redirectUrl" styleClass="form-control" value="#{clientListBean.redirectUrl}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="clientId" styleClass="col-xs-4 control-label">#{msg['admin.clientId']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="clientId" styleClass="form-control" value="#{clientListBean.clientId}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="clientSecret" styleClass="col-xs-4 control-label">#{msg['admin.clientSecret']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="clientSecret" styleClass="form-control" value="#{clientListBean.clientSecret}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel value="#{msg.clientType}" for="clientType" styleClass="col-xs-4 control-label" />
                <div class="col-xs-8">
                    <h:selectOneMenu value="#{clientListBean.type}" styleClass="form-control select2" id="clientType">
                        <f:selectItems value="#{applicationBean.clientTypes}" var="t" itemValue="#{t}" itemLabel="#{msg[t]}"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="clientTrust" styleClass="col-xs-4 control-label">#{msg['admin.trusted']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="clientTrust" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{clientListBean.trust}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="whitelist" styleClass="col-xs-4 control-label">#{msg['admin.whitelist']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="whitelist" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{clientListBean.whitelist}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="basicAuthentication" styleClass="col-xs-4 control-label">#{msg['admin.basicAuthentication']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="basicAuthentication" layout="block">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox value="#{clientListBean.basicAuthentication}"/>
                        </label>
                    </div>
                </h:panelGroup>
            </div>

            <div class="form-group">
                <h:outputLabel for="eulaClient" styleClass="col-xs-4 control-label">#{msg['admin.eulaClient']}</h:outputLabel>
                <h:panelGroup styleClass="col-xs-8" id="eulaClient" layout="block">
                    <ui:repeat var="eula" value="#{clientListBean.eulaList}">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox value="#{clientListBean.eulaSelected[eula.id]}"/>
                                <h:outputText value="#{eula.eulaType}" escape="false"/>
                            </label>
                        </div>
                    </ui:repeat>
                </h:panelGroup>
            </div>

            <div class="col-xs-12">
                <h:commandButton value="#{msg['admin.submit']}" action="#{clientListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                <h:commandButton rendered="#{clientListBean.client != null}" value="#{msg.cancel}" action="#{clientListBean.cancel}"
                        styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
            </div>
        </h:form>

        <h:outputScript>
            $(function() {
                enableSelect2();
            });
        </h:outputScript>
    </h:panelGroup>

</ui:define>

</ui:composition>
