<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">#{msg['admin.locations']}</h3>
        <span class="pull-right">
            <h:link outcome="locations.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th class="col-xs-4" scope="col">#{msg['admin.name']}</th>
                    <th class="col-xs-4" scope="col">#{msg['admin.description']}</th>
                    <th class="col-xs-2" scope="col">#{msg['admin.identifier']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="r" value="#{locationListBean.locations}">
                <tr class="tableVCenter">
                    <td>
                        #{r.name}
                    </td>
                    <td>
                        #{r.description}
                    </td>
                    <td>
                        #{r.identifier}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <h:commandLink action="#{locationListBean.edit(r)}" value="#{msg['admin.edit']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :form"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:link outcome="editLocation" value="#{msg['admin.manage']}">
                                        <f:param name="location" value="#{r.id}"/>
                                    </h:link>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <h:commandLink action="#{locationListBean.delete(r)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>
    </h:form>

    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{locationListBean.location == null ? msg['admin.newLocation'] : msg['admin.editLocation']}</h2>
        <h:form styleClass="form-horizontal" id="form">
            <div class="form-group">
                <h:outputLabel for="name" styleClass="col-xs-4 control-label">#{msg['admin.name']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="name" styleClass="form-control" value="#{locationListBean.name}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="description" styleClass="col-xs-4 control-label">#{msg['admin.description']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="description" styleClass="form-control" value="#{locationListBean.description}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="identifier" styleClass="col-xs-4 control-label">#{msg['admin.identifier']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="identifier" styleClass="form-control" value="#{locationListBean.identifier}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="contact" styleClass="col-xs-4 control-label">#{msg['admin.contactInformation']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputTextarea id="contact" styleClass="form-control" value="#{locationListBean.contact}"/>
                </div>
            </div>

            <h:panelGroup styleClass="form-group" layout="block" rendered="#{locationListBean.location == null}">
                <h:outputLabel for="admin" styleClass="col-xs-4 control-label">#{msg['admin.admin']}</h:outputLabel>

                <div class="col-xs-8 select2Email">
                    <h:inputHidden id="admin" value="#{locationListBean.identity}" pt:style="width: 100%;" pt:class="form-control" />
                </div>
            </h:panelGroup>

            <h:outputScript>
                var globalQuery;

                $(".select2Email").find("input").select2({
                    minimumInputLength: 3,
                    query: function (query) {
                        $("#searchText").val(query.term);
                        $("#suggestionsButton").click();

                        globalQuery = query;
                    }
                });

                enableSelect2();
            </h:outputScript>

            <div class="col-xs-12">
                <h:commandButton value="Submit" action="#{locationListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                <h:commandButton rendered="#{locationListBean.location != null}" value="#{msg.cancel}" action="#{locationListBean.cancel}"
                        styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
            </div>
        </h:form>
    </h:panelGroup>

    <h:form prependId="false">
        <script>
            if(globalQuery != undefined) {
                var data = {results: []};
                var emails = $("#suggestionsHidden").val().split(";|;");
                var i;
                var regex = /\[(.*)\]/;
                for(i = 0; i &lt; emails.length; ++i) {
                    var array = regex.exec(emails[i]);

                    if(array.length == 2) {
                        var text = emails[i].replace(/\[.*\]/, "");
                        data.results.push({id: array[1], text: text});
                    }
                }
                globalQuery.callback(data);
            }
        </script>

        <h:inputHidden value="#{locationListBean.searchText}" id="searchText" />
        <h:inputHidden value="#{locationListBean.suggestions}" id="suggestionsHidden" />
        <h:commandButton action="#{locationListBean.searchEmail}" value="NONE" style="display: none;" id="suggestionsButton">
            <f:ajax execute="@form" render="@form"/>
        </h:commandButton>
    </h:form>

</ui:define>

</ui:composition>
