<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="default.xhtml">

<!-- This website is just used to the servlet-based authentication. This webpage should require the
 "auth-admin" role. -->

<ui:define name="body">
    <h:outputScript>
        window.location  = "index.xhtml";
    </h:outputScript>
</ui:define>

</ui:composition>
