<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

    <ui:param name="bodyClass" value="container" />
    <ui:param name="showDialog" value="false"/>

    <ui:define name="content">

        <h1>#{msg['serverMaintenance']}</h1>

        <h2>#{msg['admin.databaseUpgradeNecessary']}</h2>

        <h2>#{msg['admin.backupRecommended']}</h2>

        <ui:include src="../components/messages.xhtml"/>

        <h:form>

            <h:commandButton rendered="#{! upgradeBean.dryRunSuccess}" action="#{upgradeBean.run(true)}" value="#{msg['admin.startUpgradeDry']}"
                styleClass="btn btn-default" />

            <h:commandButton rendered="#{upgradeBean.dryRunSuccess}" action="#{upgradeBean.run(false)}" value="#{msg['admin.startUpgrade']}"
                styleClass="btn btn-primary" />

        </h:form>


    </ui:define>

</ui:composition>
