<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">#{msg['admin.mappings']}</h3>
        <span class="pull-right">
            <h:link outcome="mappings.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th class="col-xs-4" scope="col">#{msg['identityProvider']}</th>
                    <th class="col-xs-3" scope="col">#{msg['admin.roleName']}</th>
                    <th class="col-xs-3" scope="col">#{msg['admin.mappedTo']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="m" value="#{mappingListBean.mappings}">
                <tr class="tableVCenter">
                    <td>
                        #{m.provider.label}
                    </td>
                    <td>
                        #{m.roleName}
                    </td>
                    <td>
                        #{m.role.name}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <h:commandLink action="#{mappingListBean.delete(m)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </h:form>

    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{msg['admin.newMapping']}</h2>
        <h:form styleClass="form-horizontal" id="form">
            <div class="alert alert-info">

                <h:outputText value="#{msg['admin.mappingExamplesText']}" escape="false" />

                <br/><br/>

                <ol>
                    <li>
                        <h:outputText value="#{msg['admin.mappingExample1']}" escape="false" />
                    </li>

                    <li>
                        <h:outputText value="#{msg['admin.mappingExample2']}" escape="false" />
                    </li>
                </ol>
            </div>

            <div class="form-group">
                <h:outputLabel for="identityProvider" styleClass="col-xs-4 control-label">#{msg['identityProvider']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:selectOneMenu id="identityProvider" value="#{mappingListBean.providerId}" styleClass="form-control select2">
                        <f:selectItems value="#{applicationBean.identityProviders}" var="ip" itemLabel="#{ip.label}" itemValue="#{ip.id}"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="roleName" styleClass="col-xs-4 control-label">#{msg['admin.roleName']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="roleName" styleClass="form-control" value="#{mappingListBean.roleName}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="mappedTo" styleClass="col-xs-4 control-label">#{msg['admin.mappedTo']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:selectOneMenu id="mappedTo" value="#{mappingListBean.roleId}" styleClass="form-control select2">
                        <f:selectItems value="#{mappingListBean.roles}" var="r" itemLabel="#{r.name}" itemValue="#{r.id}"/>
                    </h:selectOneMenu>
                </div>
            </div>

            <div class="col-xs-12">
                <h:commandButton value="Submit" action="#{mappingListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                <h:commandButton rendered="#{clientListBean.client != null}" value="#{msg.cancel}" action="#{clientListBean.cancel}"
                        styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
            </div>
        </h:form>
    </h:panelGroup>

</ui:define>

</ui:composition>
