<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <h:link outcome="/admin/index" styleClass="navbar-brand">
                    <h:graphicImage alt="OSSE" value="#{resource['webjar:samply/images/osse.svg']}" rendered="#{requestBean.isOsse()}" styleClass="logo"/>
                    <h:outputText value="#{msg.samply}" rendered="#{! requestBean.isOsse()}"/>

                    <span class="projectName">Auth Admin</span>
                </h:link>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">#{msg['admin.configure']} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">#{msg['admin.oauth2']}</li>
                            <li class="#{view.viewId == '/admin/index.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/index">
                                    #{msg['admin.clients']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/scopes.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/scopes">
                                    #{msg['admin.scopes']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/permissions.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/permissions">
                                    #{msg['admin.permissions']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/roles.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/roles">
                                    #{msg['admin.roles']}
                                </h:link>
                            </li>

                            <li class="dropdown-header">#{msg['admin.externalIdentityProvider']}</li>
                            <li class="#{view.viewId == '/admin/external.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/external">
                                    #{msg['admin.externalIdentityProvider']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/shibboleth.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/shibboleth">
                                    #{msg['admin.shibbolethConfiguration']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/mappings.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/mappings">
                                    #{msg['admin.mappings']}
                                </h:link>
                            </li>

                            <li class="dropdown-header">#{msg['admin.common']}</li>
                            <li class="#{view.viewId == '/admin/config.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/config">
                                    #{msg['admin.config']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/users.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/users">
                                    #{msg['admin.users']}
                                </h:link>
                            </li>
                            <li class="#{view.viewId == '/admin/eulas.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/eulas">
                                    #{msg['admin.eulas']}
                                </h:link>
                            </li>

                            <li class="dropdown-header">#{msg['admin.debug']}</li>
                            <li class="#{view.viewId == '/admin/debug.xhtml' ? 'active' : ''}">
                                <h:link outcome="/admin/debug">
                                    #{msg['admin.debugView']}
                                </h:link>
                            </li>
                        </ul>
                    </li>
                </ul>


                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="pull-right">
                        <h:link outcome="/index">
                            <i class="fa fa-sign-out userIcon"/>
                        </h:link>
                    </li>
                    <li class="pull-right">
                        <h:link outcome="/admin/index">Version #{applicationBean.version}, DB #{applicationBean.DBVersion},
                            #{applicationBean.JSFTitle} #{applicationBean.JSFVersion}</h:link>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
</ui:composition>
