<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">#{msg['admin.permissions']}</h3>
        <span class="pull-right">
            <h:link outcome="permissions.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th class="col-xs-10" scope="col">#{msg['admin.name']}</th>
                    <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="p" value="#{permissionListBean.permissions}">
                <tr class="tableVCenter">
                    <td>
                        #{p.name}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation">
                                    <h:commandLink action="#{permissionListBean.edit(p)}" value="#{msg['admin.edit']}" onclick="scrollToForm();">
                                        <f:ajax render=":formPanel :form"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <h:commandLink action="#{permissionListBean.delete(p)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>
    </h:form>


    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{permissionListBean.permission == null ? msg['admin.newPermission'] : msg['admin.editPermission']}</h2>
        <h:form styleClass="form-horizontal" id="form">
            <div class="form-group">
                <h:outputLabel for="label" styleClass="col-xs-4 control-label">#{msg['admin.label']}</h:outputLabel>

                <div class="col-xs-8">
                    <h:inputText id="label" styleClass="form-control" value="#{permissionListBean.name}"/>
                </div>
            </div>

            <div class="col-xs-12">
                <h:commandButton value="Submit" action="#{permissionListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                <h:commandButton rendered="#{permissionListBean.permission != null}" value="#{msg.cancel}" action="#{permissionListBean.cancel}"
                        styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
            </div>
        </h:form>
    </h:panelGroup>

</ui:define>

</ui:composition>
