<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <h3 class="header-left">Currently active scopes</h3>

    <h:form>
        <table class="table table-striped table-hover col-xs-12" id="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description (de)</th>
                    <th scope="col">Description (en)</th>
                    <th scope="col">Icon</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="scope" value="#{scopeListBean.scopes}">
                <tr>
                    <td>
                        #{scope.name}
                    </td>
                    <td>
                        #{scope.descriptionDe}
                    </td>
                    <td>
                        #{scope.descriptionEn}
                    </td>
                    <td>
                        #{scope.icon}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation">
                                    <h:commandLink action="#{scopeListBean.delete(scope)}" value="#{msg['admin.delete']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>
    </h:form>

    <div class="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2><h:outputText value="#{msg['admin.newScope']}"/></h2>
        <h:form styleClass="form-horizontal">
            <div class="form-group">
                <h:outputLabel for="scopeName" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeName']}"/>
                <div class="col-xs-8">
                    <h:inputText id="scopeName" styleClass="form-control" value="#{scopeListBean.scopeName}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="titleDe" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeTitleDe']}"/>
                <div class="col-xs-8">
                    <h:inputText id="titleDe" styleClass="form-control" value="#{scopeListBean.titleDe}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="descDe" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeDescriptionDe']}"/>
                <div class="col-xs-8">
                    <h:inputText id="descDe" styleClass="form-control" value="#{scopeListBean.descriptionDe}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="titleEn" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeTitleEn']}"/>
                <div class="col-xs-8">
                    <h:inputText id="titleEn" styleClass="form-control" value="#{scopeListBean.titleEn}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="descEn" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeDescriptionEn']}"/>
                <div class="col-xs-8">
                    <h:inputText id="descEn" styleClass="form-control" value="#{scopeListBean.descriptionEn}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="scopeIcon" styleClass="col-xs-4 control-label" value="#{msg['admin.scopeIcon']}"/>
                <div class="col-xs-8">
                    <h:inputText id="scopeIcon" styleClass="form-control" value="#{scopeListBean.icon}"/>
                </div>
            </div>

            <div class="pull-right">
                <h:commandButton value="#{msg['admin.submit']}" action="#{scopeListBean.commit}" styleClass="btn btn-primary btn-block"/>
            </div>
        </h:form>
    </div>

</ui:define>

</ui:composition>
