<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="content">

    <h:panelGroup id="configPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;">
        <h2>#{msg['admin.shibbolethConfiguration']}</h2>
        <h:form styleClass="form-horizontal" id="configForm">
            <div class="form-group">
                <h:outputLabel for="shibActive" styleClass="col-xs-4 control-label">#{msg['admin.shibActive']}</h:outputLabel>

                <div class="col-xs-8">
                    <div class="checkbox">
                        <label>
                            <h:selectBooleanCheckbox id="shibActive" value="#{shibbolethConfigBean.shibActive}">
                                <f:ajax execute="@form" render="@form" event="change"/>
                            </h:selectBooleanCheckbox>
                        </label>
                    </div>
                </div>
            </div>

            <ui:fragment rendered="#{shibbolethConfigBean.shibActive}">
                <div class="form-group">
                    <h:outputLabel for="name" styleClass="col-xs-4 control-label">#{msg['admin.shibName']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="name" styleClass="form-control" value="#{shibbolethConfigBean.shibName}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="identityAttribute" styleClass="col-xs-4 control-label">#{msg['admin.shibIdentityAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="identityAttribute" styleClass="form-control" value="#{shibbolethConfigBean.shibIdentityAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="nameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.shibNameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="nameAttribute" styleClass="form-control" value="#{shibbolethConfigBean.shibNameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="firstNameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.shibFirstNameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="firstNameAttribute" styleClass="form-control" value="#{shibbolethConfigBean.shibFirstNameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="lastNameAttribute" styleClass="col-xs-4 control-label">#{msg['admin.shibLastNameAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="lastNameAttribute" styleClass="form-control" value="#{shibbolethConfigBean.shibLastNameAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="mailAttribute" styleClass="col-xs-4 control-label">#{msg['admin.shibMailAttribute']}</h:outputLabel>

                    <div class="col-xs-8">
                        <h:inputText id="mailAttribute" styleClass="form-control" value="#{shibbolethConfigBean.shibMailAttribute}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="shibDefaultActive" styleClass="col-xs-4 control-label">#{msg['admin.shibDefaultActive']}</h:outputLabel>

                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="shibDefaultActive" value="#{shibbolethConfigBean.shibDefaultActive}"/>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="shibDefaultVerified" styleClass="col-xs-4 control-label">#{msg['admin.shibDefaultVerified']}</h:outputLabel>

                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="shibDefaultVerified" value="#{shibbolethConfigBean.shibDefaultVerified}"/>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel for="shibUseHttpHeaders" styleClass="col-xs-4 control-label">#{msg['admin.shibUseHttpHeaders']}</h:outputLabel>

                    <div class="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="shibUseHttpHeaders" value="#{shibbolethConfigBean.shibUseHttpHeaders}"/>
                            </label>
                        </div>
                    </div>
                </div>
            </ui:fragment>

            <ui:include src="../components/messages.xhtml" />

            <div class="col-xs-12">
                <h:commandButton value="#{msg['admin.saveConfig']}" action="#{shibbolethConfigBean.saveConfig}" styleClass="btn btn-primary col-xs-3 pull-right">
                    <f:ajax render="messages" execute="@form"/>
                </h:commandButton>
            </div>
        </h:form>
    </h:panelGroup>

</ui:define>

</ui:composition>
