<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="footer.default.xhtml">

<ui:param name="bodyClass" value="container"/>
<ui:param name="showDialog" value="false"/>

<ui:define name="content">

    <div>
        <h3 class="header-left">Users</h3>
        <span class="pull-right">
            <h:link outcome="/admin/users.xhtml" styleClass="btn btn-default btn-block">
                <i class="fa fa-refresh"></i>
            </h:link>
        </span>
    </div>

    <h:form id="tableForm">
        <table id="table" class="table table-striped table-hover col-xs-12">
            <thead>
                <tr>
                    <th scope="col">#{msg.email}</th>
                    <th scope="col">#{msg.firstName}</th>
                    <th scope="col">#{msg.lastName}</th>
                    <th scope="col">#{msg['admin.externalIdentityProvider']}</th>
                    <th scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                </tr>
            </thead>

            <tbody>
                <ui:repeat var="user" value="#{userListBean.users}">
                <tr class="#{user.active ? (user.emailVerified ? 'success' : 'warning') : 'danger'} tableVCenter">
                    <td>
                        #{user.email}
                    </td>
                    <td>
                        #{user.firstName}
                    </td>
                    <td>
                        #{user.lastName}
                    </td>
                    <td>
                        #{applicationBean.getProviderLabel(user)}
                    </td>
                    <td>
                        <div class="dropdown pull-right">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a href="#" onclick="showTableRow(this, #{user.id});">#{msg['admin.details']}</a></li>
                                <li role="presentation">
                                    <h:commandLink action="#{userListBean.toggleSearchable(user)}"
                                            value="#{user.searchable ? msg['admin.disableSearchable'] : msg['admin.enableSearchable']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>
                                <li role="presentation">
                                    <h:commandLink action="#{userListBean.toggle(user)}"
                                            value="#{user.active ? msg['admin.disableUser'] : msg['admin.enableUser']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>

                                <ui:fragment rendered="#{! user.emailVerified}">
                                    <li role="presentation">
                                        <h:commandLink action="#{userListBean.verify(user)}" value="#{msg['admin.verifyEmail']}">
                                            <f:ajax render="@form"/>
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>

                                <ui:fragment rendered="#{! user.external}">
                                    <li role="presentation">
                                        <h:commandLink action="#{userListBean.selectUser(user)}" value="#{msg['admin.editUser']}">
                                            <f:ajax render=":formPanel :userForm"/>
                                        </h:commandLink>
                                    </li>
                                </ui:fragment>

                                <li role="presentation">
                                    <h:commandLink action="#{userListBean.toggleClientCertificate(user)}" value="#{msg['admin.toggleClientCertificate']}">
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </li>

                                <li role="presentation" class="divider"/>
                                <li role="presentation"><h:commandLink value="#{msg.deleteUser}" action="#{userListBean.delete(user)}" /></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </ui:repeat>
            </tbody>
        </table>

        <ui:include src="/components/messages.xhtml">
            <ui:param name="messagesFor" value="tableForm"/>
            <ui:param name="messagesId" value="tableMessages"/>
        </ui:include>

        <div style="display: none" id="details">
            <ui:repeat var="user" value="#{userListBean.users}">
            <div id="details-#{user.id}">
                <div class="pull-right">
                    <a href="#" class="btn btn-default" onclick="closeTableRow(this);"><i class="fa fa-times"></i></a>
                </div>
                <table id="detail-table" class="table table-striped table-hover col-xs-12">
                    <tbody>
                        <tr>
                            <td class="col-xs-6">#{msg.searchable}</td>
                            <td class="col-xs-6">#{user.searchable}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg.contact}</td>
                            <td class="col-xs-6">#{user.contactData}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.userType']}</td>
                            <td class="col-xs-6">#{user.usertype}</td>
                        </tr>
                        <tr>
                            <td class="col-xs-6">#{msg['admin.clientCertificate']}</td>
                            <td class="col-xs-6">#{user.clientCertificate}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </ui:repeat>
        </div>

        <h:outputScript>
            var table = $("#table").DataTable({
                stateSave: true
            });
        </h:outputScript>

    </h:form>

    <h:panelGroup id="formPanel" styleClass="col-xs-8 col-xs-offset-2 well" style="margin-top: 100px;" rendered="#{applicationBean.localAccountsActive}"
                  layout="block">

        <h2>#{userListBean.user == null ? msg['admin.createUser'] : msg['admin.editUser']}</h2>

        <h:form styleClass="form-horizontal" id="userForm">

            <div class="form-group">
                <h:outputLabel for="email" styleClass="col-xs-4 control-label">#{msg['email']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="email" styleClass="form-control" value="#{userListBean.email}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="firstName" styleClass="col-xs-4 control-label">#{msg['firstName']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="firstName" styleClass="form-control" value="#{userListBean.firstName}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="lastName" styleClass="col-xs-4 control-label">#{msg['lastName']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="lastName" styleClass="form-control" value="#{userListBean.lastName}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="contact" styleClass="col-xs-4 control-label">#{msg['contact']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputText id="contact" styleClass="form-control" value="#{userListBean.contact}"/>
                </div>
            </div>

            <div class="alert alert-info">
                <h:outputText value="#{msg['admin.otherValuesAbove']}"/>
            </div>

            <div class="alert alert-info">
                <h:outputText value="#{msg['admin.leavePasswordEmptyIfNotUsed']}"/>
            </div>

            <div class="form-group">
                <h:outputLabel for="newPassword" styleClass="col-xs-4 control-label">#{msg['newPassword']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputSecret id="newPassword" styleClass="form-control" value="#{userListBean.newPassword}"/>
                </div>
            </div>

            <div class="form-group">
                <h:outputLabel for="newPasswordRepeat" styleClass="col-xs-4 control-label">#{msg['newPassword']}</h:outputLabel>
                <div class="col-xs-8">
                    <h:inputSecret id="newPasswordRepeat" styleClass="form-control" value="#{userListBean.newPasswordRepeat}"/>
                </div>
            </div>

            <ui:include src="/components/messages.xhtml">
                <ui:param name="messagesFor" value="userForm"/>
                <ui:param name="messagesId" value="formMessages"/>
            </ui:include>

            <div class="col-xs-12">
                <h:commandButton value="#{msg['admin.submit']}" action="#{userListBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right"/>
                <h:commandButton rendered="#{userListBean.user != null}" value="#{msg.cancel}" action="#{userListBean.cancel}"
                                 styleClass="btn btn-danger col-xs-3 pull-right" style="margin-right: 10px;"/>
            </div>

        </h:form>

    </h:panelGroup>

</ui:define>

</ui:composition>
