<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="../components/default.xhtml">

    <f:metadata>
        <f:viewParam name="redirect_uri" value="#{grantBean.redirectUrl}"/>
        <f:viewParam name="client_id" value="#{grantBean.clientId}"/>
        <f:viewParam name="scope" value="#{grantBean.scope}"/>
        <f:viewParam name="ip" value="#{grantBean.ip}"/>
        <f:viewParam name="state" value="#{grantBean.state}"/>
        <f:viewParam name="nonce" value="#{grantBean.nonce}"/>
        <f:viewParam name="invitation" value="#{userBean.invitationUuid}"/>
        <f:viewAction action="#{loginCertificateBean.init}"/>
    </f:metadata>

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="footer-wrapper">

            <div class="content">

                <h1>Samply.Authentication</h1>

            </div>

            <div class="push"></div>

        </div>

        <ui:include src="/components/footer.xhtml"/>

    </ui:define>

</ui:composition>
