<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <div class="footer">
        <div class="container">
            <p>
                <h:outputFormat value="#{msg.contactInformation}">
                    <f:param value="#{applicationBean.contactInformation}"/>
                </h:outputFormat>
            </p>
            <p>
                    <h:outputText value="#{msg.licenseFooter}" escape="false"/>
            </p>
            <p style="margin-top: 40px;">
                <h:graphicImage value="/images/logo" styleClass="logoImage"/>
            </p>
        </div>
    </div>

</ui:composition>
