<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <h:link outcome="/index" styleClass="navbar-brand">
                    <h:graphicImage alt="OSSE" value="#{resource['webjar:samply/images/osse.svg']}" rendered="#{requestBean.isOsse()}" styleClass="logo"/>
                    <h:outputText value="#{msg.samply}" rendered="#{! requestBean.isOsse()}"/>

                    <span class="projectName">Auth</span>
                </h:link>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="#{view.viewId == '/index.xhtml' ? 'active' : ''}">
                        <h:link outcome="/index">
                            <h:outputText value="#{msg.home}"/>
                        </h:link>
                    </li>

                    <ui:fragment rendered="#{userBean.loginValid}">
                        <li class="#{view.viewId == '/profile.xhtml' ? 'active' : ''}">
                            <h:link outcome="/profile.xhtml">#{msg.profile}</h:link>
                        </li>
                        <li class="#{view.viewId == '/keys.xhtml' ? 'active' : ''}">
                            <h:link outcome="/keys.xhtml">#{msg.keys}</h:link>
                        </li>
                        <ui:fragment rendered="#{userBean.editableRoles.size() > 0}">
                            <li class="#{view.viewId == '/editRole.xhtml' ? 'active' : ''}">
                                <a href="#" class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown">#{msg['admin.roles']}</a>
                                <ul class="dropdown-menu">
                                    <ui:repeat var="r" value="#{userBean.editableRoles}">
                                        <li>
                                            <h:link outcome="/editRole">
                                                <f:param name="role" value="#{r.id}"/>
                                                <h:outputFormat value="#{msg.editRole}">
                                                    <f:param value="#{r.name}"/>
                                                </h:outputFormat>
                                            </h:link>
                                        </li>
                                    </ui:repeat>
                                </ul>
                            </li>
                        </ui:fragment>
                    </ui:fragment>
                    <ui:fragment rendered="#{userBean.isAdmin()}">
                        <li>
                            <h:link outcome="/admin/index.xhtml">#{msg['admin.interface']}</h:link>
                        </li>
                    </ui:fragment>
                </ul>

                <h:form>
                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <ui:fragment rendered="#{! userBean.loginValid}">
                            <li class="pull-right">
                                <h:link outcome="/login.xhtml">#{msg.login}</h:link>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.loginValid}">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-user fa-fw userIcon"/>
                                    #{userBean.user.name.trim().length() > 0 ? userBean.user.name : userBean.user.email}
                                </a>
                                <ul id="userPanel" class="dropdown-menu">
                                    <li>
                                        <h:commandLink action="#{userBean.logout}">
                                            <i class="fa fa-sign-out"/> #{msg.logout}
                                        </h:commandLink>
                                    </li>
                                </ul>
                            </li>
                        </ui:fragment>

                        <ui:fragment rendered="#{userBean.invited}">
                            <li class="pull-right">
                                <h:commandLink action="#{userBean.cancelInvitation}">
                                    <h:outputText value="#{msg.cancelInvitation}"/>
                                </h:commandLink>
                            </li>
                        </ui:fragment>
                    </ul>
                </h:form>
            </div>
        </div>
    </nav>
</ui:composition>
