<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:panelGroup layout="block">

        <h:panelGroup layout="block" styleClass="password-requirement" id="passwordMinLength"
                rendered="#{applicationBean.passwordPolicy.minLength > 0}">
            <h:outputFormat value="#{msg.passwordLength}">
                <f:param value="#{applicationBean.passwordPolicy.minLength}"/>
            </h:outputFormat>

            <h:outputScript>
                enablePasswordRegex('#registerform\\:passwordMinLength', '.', #{applicationBean.passwordPolicy.minLength});
            </h:outputScript>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="password-requirement" id="passwordMinUpper"
                rendered="#{applicationBean.passwordPolicy.minUpperCase > 0}">
            <h:outputFormat value="#{msg.passwordUpper}">
                <f:param value="#{applicationBean.passwordPolicy.minUpperCase}"/>
            </h:outputFormat>

            <h:outputScript>
                enablePasswordRegex('#registerform\\:passwordMinUpper', '\\p{Lu}', #{applicationBean.passwordPolicy.minUpperCase});
            </h:outputScript>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="password-requirement" id="passwordMinLower"
                rendered="#{applicationBean.passwordPolicy.minLowerCase > 0}">
            <h:outputFormat value="#{msg.passwordLower}">
                <f:param value="#{applicationBean.passwordPolicy.minLowerCase}"/>
            </h:outputFormat>

            <h:outputScript>
                enablePasswordRegex('#registerform\\:passwordMinLower', '\\p{Ll}', #{applicationBean.passwordPolicy.minLowerCase});
            </h:outputScript>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="password-requirement" id="passwordMinNumber"
                rendered="#{applicationBean.passwordPolicy.minNumber > 0}">
            <h:outputFormat value="#{msg.passwordNumber}">
                <f:param value="#{applicationBean.passwordPolicy.minNumber}"/>
            </h:outputFormat>

            <h:outputScript>
                enablePasswordRegex('#registerform\\:passwordMinNumber', '\\d', #{applicationBean.passwordPolicy.minNumber});
            </h:outputScript>
        </h:panelGroup>

        <h:panelGroup layout="block" styleClass="password-requirement" id="passwordMinSpecial"
                rendered="#{applicationBean.passwordPolicy.minSpecial > 0}">
            <h:outputFormat value="#{msg.passwordSpecial}">
                <f:param value="#{applicationBean.passwordPolicy.minSpecial}"/>
            </h:outputFormat>

            <h:outputScript>
                enablePasswordRegex('#registerform\\:passwordMinSpecial', '[^\\p{L}\\d]', #{applicationBean.passwordPolicy.minSpecial});
            </h:outputScript>
        </h:panelGroup>

        <h:outputScript>
            $(function() {
                enablePasswordCheck();
            });
        </h:outputScript>

    </h:panelGroup>

</ui:composition>
