<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:bootstrap/css/bootstrap.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:font-lato/css/font-lato.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:font-awesome/css/font-awesome.css']}&amp;version=#{applicationBean.version}"/>

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/base.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/fadein.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:jquery/css/jquery-ui.css']}&amp;version=#{applicationBean.version}"/>

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:select2/css/select2.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:datatables/css/dataTables.bootstrap.min.css']}&amp;version=#{applicationBean.version}"/>

    <link type="text/css" rel="stylesheet" href="#{resource['css/auth.css']}?version=#{applicationBean.version}"/>

    <ui:fragment rendered="#{requestBean.isOsse()}">
        <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/osse.css']}&amp;version=#{applicationBean.version}"/>
    </ui:fragment>

    <ui:fragment rendered="#{requestBean.isCssSimple()}">
        <link type="text/css" rel="stylesheet" href="#{resource['css/simple.css']}?version=#{applicationBean.version}"/>
    </ui:fragment>

    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/buttons.css']}&amp;version=#{applicationBean.version}"/>
    <link type="text/css" rel="stylesheet" href="#{resource['webjar:samply/css/demo-ribbon.css']}&amp;version=#{applicationBean.version}"/>

    <script type="text/javascript" src="#{resource['webjar:jquery/js/jquery.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:jquery/js/jquery-ui.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:bootstrap/js/bootstrap.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:select2/js/select2.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:datatables/js/jquery.dataTables.min.js']}&amp;version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['webjar:datatables/js/dataTables.bootstrap.min.js']}&amp;version=#{applicationBean.version}"></script>

    <script type="text/javascript" src="#{resource['js/xregexp-all.js']}?version=#{applicationBean.version}"></script>
    <script type="text/javascript" src="#{resource['js/auth.js']}?version=#{applicationBean.version}"></script>
</ui:composition>
