<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="code" value="#{adfsBean.code}"/>
    <f:viewParam name="error" value="#{adfsBean.error}"/>
    <f:viewParam name="error_description" value="#{adfsBean.errorDescription}"/>
    <f:viewAction action="#{adfsBean.login}" />
</f:metadata>

</ui:composition>
