<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:auth="http://samply.de/auth"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="role" value="#{roleEditBean.roleId}"/>
    <f:viewAction action="#{roleEditBean.init(false)}"/>
</f:metadata>

<ui:param name="bodyClass" value="container"/>
<ui:param name="showDialog" value="false" />

<ui:define name="body">

    <div class="footer-wrapper">

    <div class="content">

        <div>
            <h3 class="header-left">#{msg['admin.editRoleDetails']}</h3><br/>
            <h2 class="header-left">#{roleEditBean.role.name}</h2>
        </div>

        <h:form id="editRoleForm">
            <div class="well clearfix form-horizontal">

                <h2>#{msg['admin.members']}</h2>
                <table class="table table-striped table-hover col-xs-12" id="memberTable">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-3">#{msg.email}</th>
                            <th scope="col" class="col-xs-2">#{msg.firstName}</th>
                            <th scope="col" class="col-xs-2">#{msg.lastName}</th>
                            <th scope="col" class="col-xs-2">#{msg.identityProvider}</th>
                            <th scope="col" class="col-xs-1"><span class="pull-right">Actions</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat var="member" value="#{roleEditBean.members}">
                        <tr class="#{member.emailVerified ? 'success' : 'danger'} tableVCenter">
                            <td>
                                #{member.email}
                            </td>
                            <td>
                                #{member.firstName}
                            </td>
                            <td>
                                #{member.lastName}
                            </td>
                            <td>
                                #{applicationBean.getProviderLabel(member)}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <h:commandLink action="#{roleEditBean.removeMember(member)}" value="#{msg['admin.removeMember']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <h:outputScript>
                    var table = $("#memberTable").DataTable({
                    stateSave: true
                    });
                </h:outputScript>

            </div>

            <div class="well clearfix form-horizontal">

                <h2>#{msg['admin.addMember']}</h2>

                <div class="form-group" id="addmemberarea">
                    <div class="col-xs-10 select2Email">
                        <h:inputHidden id="identity" value="#{roleEditBean.identity}" pt:style="width: 100%;" pt:class="form-control" />
                    </div>

                    <div class="col-xs-2">
                        <h:commandButton styleClass="btn btn-default" value="#{msg['admin.addMember']}" action="#{roleEditBean.add}">
                            <f:ajax render="@form" execute="identity"/>
                        </h:commandButton>
                    </div>
                </div>

                <h:panelGroup id="memberinvitearea" layout="block" rendered="#{roleEditBean.showMemberInvite()}">
                    <h3>#{msg['admin.invitation']}</h3>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.email}" for="email" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{inviteBean.email}" id="email" styleClass="form-control"
                                         required="true" requiredMessage="#{msg.emailMissing}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.inviteeFirstName}" for="firstName" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{inviteBean.firstName}" id="firstName" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.inviteeLastName}" for="lastName" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{inviteBean.lastName}" id="lastName" styleClass="form-control"
                                         required="true" requiredMessage="#{msg.inviteeNameMissing}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.targetUrl}" for="targetUrl" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{inviteBean.targetUrl}" id="targetUrl" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.invitePreselect}" for="preselectMode" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:selectOneMenu id="preselectMode" styleClass="form-control select2" value="#{inviteBean.preselectMode}">
                                <f:selectItems var="m" itemLabel="#{auth:format(msg[m], applicationBean.shibboleth.name)}" itemValue="#{m}" value="#{applicationBean.preselectModes}" />
                                <f:ajax render="preselect-idp" execute="@this"/>
                            </h:selectOneMenu>
                        </div>
                    </div>

                    <h:panelGroup layout="block" id="preselect-idp">
                        <h:panelGroup layout="block" rendered="#{inviteBean.preselectMode == 'EXTERNAL_IDP'}" styleClass="form-group">
                            <h:outputLabel value="#{msg['admin.externalIdentityProvider']}" for="externalIdp" styleClass="control-label col-xs-4"/>

                            <div class="col-xs-8">
                                <h:selectOneMenu id="externalIdp" styleClass="form-control select2" value="#{inviteBean.providerId}">
                                    <f:selectItems var="idp" itemLabel="#{idp.label}" itemValue="#{idp.id}" value="#{applicationBean.identityProviders}"/>
                                </h:selectOneMenu>
                            </div>
                        </h:panelGroup>

                        <h:outputScript>
                            enableSelect2();
                        </h:outputScript>
                    </h:panelGroup>

                    <ui:include src="components/messages.xhtml">
                        <ui:param name="messagesFor" value="targetUrl"/>
                        <ui:param name="messagesId" value="inviteMessages"/>
                    </ui:include>

                    <div class="form-group form-btn">
                        <div class="col-xs-12">
                            <h:commandButton value="#{msg['admin.sendInvite']}" styleClass="btn btn-primary col-xs-3 pull-right" action="#{roleEditBean.sendInviteLink}">
                                <f:ajax render="@form" execute="@form"/>
                            </h:commandButton>
                        </div>
                    </div>

                </h:panelGroup>
            </div>

            <div class="well clearfix form-horizontal">

                <h2>#{msg['admin.invitationList']}</h2>
                <table class="table table-striped table-hover col-xs-12" id="invitationTable">
                    <thead>
                    <tr>
                        <th scope="col" class="col-xs-2">#{msg.email}</th>
                        <th scope="col" class="col-xs-2">#{msg.firstName}</th>
                        <th scope="col" class="col-xs-2">#{msg.lastName}</th>
                        <th scope="col" class="col-xs-2">#{msg.targetUrl}</th>
                        <th scope="col" class="col-xs-2">#{msg.invitationLink}</th>
                        <th scope="col" class="col-xs-1">#{msg.invitePreselect}</th>
                        <th scope="col" class="col-xs-1"><span class="pull-right">Actions</span></th>
                    </tr>
                    </thead>

                    <tbody>
                    <ui:repeat var="invitedMember" value="#{roleEditBean.invitations}">
                        <ui:fragment rendered="#{!invitedMember.used}">
                        <tr class="success tableVCenter">
                            <td>
                                #{invitedMember.email}
                            </td>
                            <td>
                                #{invitedMember.firstName}
                            </td>
                            <td>
                                #{invitedMember.lastName}
                            </td>
                            <td>
                                #{invitedMember.target}
                            </td>
                            <td>
                                #{applicationBean.getInvitationLink(invitedMember)}
                            </td>
                            <td>
                                #{invitedMember.preselectMode}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
                                        <li role="presentation">
                                            <h:commandLink action="#{roleEditBean.removeInvitation(invitedMember)}" value="#{msg['admin.removeInvitation']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:fragment>
                    </ui:repeat>
                    </tbody>
                </table>

                <h:outputScript>
                    var table = $("#invitationTable").DataTable({
                    stateSave: true
                    });
                </h:outputScript>
            </div>

            <h:panelGroup styleClass="well clearfix form-horizontal" layout="block" rendered="#{roleEditBean.currentMode == 'ADMIN'}">

                <h2>#{msg['admin.admins']}</h2>

                <table class="table table-striped table-hover col-xs-12" id="adminTable">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-3">#{msg.email}</th>
                            <th scope="col" class="col-xs-2">#{msg.firstName}</th>
                            <th scope="col" class="col-xs-2">#{msg.lastName}</th>
                            <th scope="col" class="col-xs-2">#{msg.identityProvider}</th>
                            <th scope="col" class="col-xs-2">#{msg.mode}</th>
                            <th class="col-xs-1" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat var="admin" value="#{roleEditBean.admins}">
                        <tr class="#{admin.user.emailVerified ? 'success' : 'danger'} tableVCenter">
                            <td>
                                #{admin.user.email}
                            </td>
                            <td>
                                #{admin.user.firstName}
                            </td>
                            <td>
                                #{admin.user.lastName}
                            </td>
                            <td>
                                #{applicationBean.getProviderLabel(admin.user)}
                            </td>
                            <td>
                                <h:selectOneMenu styleClass="form-control select2" value="#{admin.mode}">
                                    <f:selectItems var="m" itemLabel="#{msg[m]}" itemValue="#{m}" value="#{applicationBean.administrationModes}"/>
                                    <f:ajax execute="@this"/>
                                </h:selectOneMenu>
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                        <li role="presentation">
                                            <h:commandLink action="#{roleEditBean.removeAdmin(admin)}" value="#{msg['admin.removeAdmin']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <h3>#{msg['admin.addAdmin']}</h3>

                <div class="form-group">
                    <div class="col-xs-6 select2Email">
                        <h:inputHidden id="identity2" value="#{roleEditBean.identity}" pt:style="width: 100%;" pt:class="form-control" />
                    </div>

                    <div class="col-xs-4">
                        <h:selectOneMenu styleClass="form-control select2" id="adminMode" value="#{roleEditBean.mode}">
                            <f:selectItems var="m" itemLabel="#{msg[m]}" itemValue="#{m}" value="#{applicationBean.administrationModes}"/>
                        </h:selectOneMenu>
                    </div>

                    <div class="col-xs-2">
                        <h:commandButton styleClass="btn btn-default" value="#{msg['admin.addMember']}" action="#{roleEditBean.addAdmin}">
                            <f:ajax render="@form" execute="identity2 adminMode"/>
                        </h:commandButton>
                    </div>
                </div>

                <h:outputScript>
                    var table = $("#adminTable").DataTable({
                    stateSave: true
                    });
                </h:outputScript>

            </h:panelGroup>

            <h:panelGroup styleClass="well clearfix form-horizontal" layout="block" rendered="#{roleEditBean.currentMode == 'ADMIN'}">

                <h2>#{msg['admin.permissions']}</h2>

                <table class="table table-striped table-hover col-xs-12" id="permissionTable">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-5">#{msg['admin.permission']}</th>
                            <th scope="col" class="col-xs-5">#{msg['admin.client']}</th>
                            <th class="col-xs-2" scope="col"><span class="pull-right">Actions</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat var="perm" value="#{roleEditBean.permissions}">
                        <tr class="tableVCenter #{perm.export ? 'success' : ''}">
                            <td>
                                #{perm.permission.name}
                            </td>
                            <td>
                                #{perm.client.name}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu3">
                                        <li role="presentation">
                                            <h:commandLink action="#{roleEditBean.removePermission(perm)}" value="#{msg['admin.removePermission']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <div class="form-group">
                    <div class="col-xs-4">
                        <h:selectOneMenu id="permissionName" styleClass="form-control select2" value="#{roleEditBean.permissionName}">
                            <f:selectItems var="p" itemLabel="#{p.name}" itemValue="#{p.name}" value="#{roleEditBean.permissionList}"/>
                        </h:selectOneMenu>
                    </div>

                    <div class="col-xs-4">
                        <h:selectOneMenu id="clientId" styleClass="form-control select2" value="#{roleEditBean.clientId}">
                            <f:selectItems var="p" itemLabel="#{p.name}" itemValue="#{p.clientId}" value="#{roleEditBean.clients}"/>
                        </h:selectOneMenu>
                    </div>

                    <div class="col-xs-2">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="permissionExport" value="#{roleEditBean.permissionExport}" />
                                #{msg.export}
                            </label>
                        </div>
                    </div>

                    <div class="col-xs-2">
                        <h:commandButton styleClass="btn btn-default" value="#{msg['admin.addPermission']}" action="#{roleEditBean.addPermission}">
                            <f:ajax render="@form" execute="permissionName clientId permissionExport"/>
                        </h:commandButton>
                    </div>
                </div>

                <h:outputScript>
                    var table = $("#permissionTable").DataTable({
                    stateSave: true
                    });
                </h:outputScript>

            </h:panelGroup>

            <ui:include src="components/messages.xhtml"/>

            <div class="form-group">
                <div class="col-xs-12">
                    <h:commandButton value="#{msg['admin.submit']}" action="#{roleEditBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right">
                        <f:ajax render="@form"/>
                    </h:commandButton>
                </div>
            </div>

            <h:outputScript>
                var globalQuery;

                $(".select2Email").find("input").select2({
                    minimumInputLength: 3,
                    query: function (query) {
                        $("#searchText").val(query.term);
                        $("#suggestionsButton").click();

                        globalQuery = query;
                    }
                });

                enableSelect2();
            </h:outputScript>
        </h:form>

        <h:form prependId="false">
            <script>
                if(globalQuery != undefined) {
                    var data = {results: []};
                    var emails = $("#suggestionsHidden").val().split(";|;");
                    var i;
                    var regex = /\[(.*)\]/;
                    for(i = 0; i &lt; emails.length; ++i) {
                        var array = regex.exec(emails[i]);

                        if(array != null &amp;&amp; array.length == 2) {
                            var text = emails[i].replace(/\[.*\]/, "");
                            data.results.push({id: array[1], text: text});
                        }
                    }
                    globalQuery.callback(data);
                }
            </script>

            <h:inputHidden value="#{roleEditBean.searchText}" id="searchText" />
            <h:inputHidden value="#{roleEditBean.suggestions}" id="suggestionsHidden" />
            <h:commandButton action="#{roleEditBean.searchEmail}" value="NONE" style="display: none;" id="suggestionsButton">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
        </h:form>

    </div>

    <div class="push"/>

    </div>
</ui:define>

</ui:composition>
