<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="location" value="#{locationEditBean.locationId}"/>
    <f:viewAction action="#{locationEditBean.init()}"/>
</f:metadata>

<ui:param name="bodyClass" value="container"/>
<ui:param name="showDialog" value="false" />

<ui:define name="body">
    <div class="content">

        <div>
            <h3 class="header-left">
                <h:outputFormat value="#{msg['admin.editLocationDetails']}">
                    <f:param value="#{locationEditBean.location.name}"/>
                </h:outputFormat>
            </h3>
        </div>

        <h:form>
            <div class="well clearfix form-horizontal">

                <h2>#{msg['admin.members']}</h2>
                <table class="table table-striped table-hover col-xs-12">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-4">#{msg.email}</th>
                            <th scope="col" class="col-xs-3">#{msg.name}</th>
                            <th scope="col" class="col-xs-2">#{msg.identityProvider}</th>
                            <th scope="col" class="col-xs-1"><span class="pull-right">Actions</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat var="member" value="#{locationEditBean.members}">
                        <tr class="#{member.emailVerified ? 'success' : 'danger'} tableVCenter">
                            <td>
                                #{member.email}
                            </td>
                            <td>
                                #{member.name}
                            </td>
                            <td>
                                #{applicationBean.getProviderLabel(member)}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <h:commandLink action="#{locationEditBean.removeMember(member)}" value="#{msg['admin.removeMember']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>


                <h3>#{msg['admin.addMember']}</h3>

                <div class="form-group">
                    <div class="col-xs-10 select2Email">
                        <h:inputHidden id="identity" value="#{locationEditBean.identity}" pt:style="width: 100%;" pt:class="form-control" />
                    </div>

                    <div class="col-xs-2">
                        <h:commandButton styleClass="btn btn-default" value="#{msg['admin.addMember']}" action="#{locationEditBean.add}">
                            <f:ajax render="@form" execute="identity"/>
                        </h:commandButton>
                    </div>
                </div>


                <h3>#{msg['admin.createMember']}</h3>

                <div class="form-group">
                    <h:outputLabel value="#{msg.email}" for="email" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText value="#{registerBean.email}" id="email" styleClass="form-control"
                            required="true" requiredMessage="#{msg.emailMissing}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.fullName}" for="fullName" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText value="#{registerBean.name}" id="fullName" styleClass="form-control"
                            required="true" requiredMessage="#{msg.nameMissing}"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.contactData}" for="contact" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText value="#{registerBean.contactData}" id="contact" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group form-btn">
                    <div class="col-xs-12">
                        <h:commandButton value="#{msg['admin.createMember']}" styleClass="btn btn-primary col-xs-3 pull-right" action="#{locationEditBean.createMember}">
                            <f:ajax render="@form" execute="@form"/>
                        </h:commandButton>
                    </div>
                </div>

            </div>

            <h:panelGroup styleClass="well clearfix form-horizontal" layout="block" rendered="#{locationEditBean.currentMode == 'ADMIN'}">

                <h2>#{msg['admin.admins']}</h2>

                <table class="table table-striped table-hover col-xs-12">
                    <thead>
                        <tr>
                            <th scope="col" class="col-xs-3">#{msg.email}</th>
                            <th scope="col" class="col-xs-3">#{msg.name}</th>
                            <th scope="col" class="col-xs-2">#{msg.identityProvider}</th>
                            <th scope="col" class="col-xs-2">#{msg.mode}</th>
                            <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat var="member" value="#{locationEditBean.admins}">
                        <tr class="#{member.user.emailVerified ? 'success' : 'danger'} tableVCenter">
                            <td>
                                #{member.user.email}
                            </td>
                            <td>
                                #{member.user.name}
                            </td>
                            <td>
                                #{applicationBean.getProviderLabel(member.user)}
                            </td>
                            <td>
                                <h:selectOneMenu styleClass="form-control select2" value="#{member.mode}">
                                    <f:selectItems var="m" itemLabel="#{msg[m]}" itemValue="#{m}" value="#{applicationBean.administrationModes}"/>
                                    <f:ajax execute="@this"/>
                                </h:selectOneMenu>
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <h:commandLink action="#{locationEditBean.removeAdmin(member)}" value="#{msg['admin.removeAdmin']}">
                                                <f:ajax render="@form"/>
                                            </h:commandLink>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </ui:repeat>
                    </tbody>
                </table>

                <h3>#{msg['admin.addAdmin']}</h3>

                <div class="form-group">
                    <div class="col-xs-6 select2Email">
                        <h:inputHidden id="identity2" value="#{locationEditBean.identity}" pt:style="width: 100%;" pt:class="form-control" />
                    </div>

                    <div class="col-xs-4">
                        <h:selectOneMenu styleClass="form-control select2" id="adminMode" value="#{locationEditBean.mode}">
                            <f:selectItems var="m" itemLabel="#{msg[m]}" itemValue="#{m}" value="#{applicationBean.administrationModes}"/>
                        </h:selectOneMenu>
                    </div>

                    <div class="col-xs-2">
                        <h:commandButton styleClass="btn btn-default" value="#{msg['admin.addMember']}" action="#{locationEditBean.addAdmin}">
                            <f:ajax render="@form" execute="identity2 adminMode"/>
                        </h:commandButton>
                    </div>
                </div>

            </h:panelGroup>

            <ui:include src="components/messages.xhtml"/>

            <div class="form-group">
                <div class="col-xs-12">
                    <h:commandButton value="#{msg['admin.submit']}" action="#{locationEditBean.commit}" styleClass="btn btn-primary col-xs-3 pull-right">
                        <f:ajax render="@form"/>
                    </h:commandButton>
                </div>
            </div>

            <h:outputScript>
                var globalQuery;

                $(".select2Email").find("input").select2({
                    minimumInputLength: 3,
                    query: function (query) {
                        $("#searchText").val(query.term);
                        $("#suggestionsButton").click();

                        globalQuery = query;
                    }
                });

                enableSelect2();
            </h:outputScript>
        </h:form>

        <h:form prependId="false">
            <script>
                if(globalQuery != undefined) {
                    var data = {results: []};
                    var emails = $("#suggestionsHidden").val().split(";|;");
                    var i;
                    var regex = /\[(.*)\]/;
                    for(i = 0; i &lt; emails.length; ++i) {
                        var array = regex.exec(emails[i]);

                        if(array.length == 2) {
                            var text = emails[i].replace(/\[.*\]/, "");
                            data.results.push({id: array[1], text: text});
                        }
                    }
                    globalQuery.callback(data);
                }
            </script>

            <h:inputHidden value="#{locationEditBean.searchText}" id="searchText" />
            <h:inputHidden value="#{locationEditBean.suggestions}" id="suggestionsHidden" />
            <h:commandButton action="#{locationEditBean.searchEmail}" value="NONE" style="display: none;" id="suggestionsButton">
                <f:ajax execute="@form" render="@form"/>
            </h:commandButton>
        </h:form>

    </div>
</ui:define>

</ui:composition>
