<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="redirect_uri" value="#{grantBean.redirectUrl}"/>
    <f:viewParam name="client_id" value="#{grantBean.clientId}"/>
    <f:viewParam name="scope" value="#{grantBean.scope}"/>
    <f:viewParam name="ip" value="#{grantBean.ip}"/>
    <f:viewParam name="state" value="#{grantBean.state}"/>
    <f:viewParam name="nonce" value="#{grantBean.nonce}"/>
    <f:viewAction action="#{grantBean.init}" />
</f:metadata>

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content container">

        <h:form>
            <div class="col-xs-8 col-xs-offset-2 form-horizontal">
                <h2><h:outputText value="#{msg.authorizeApplication}"/></h2>

                <h3>
                    <h:outputFormat value="#{msg.applicationRequest}">
                        <f:param value="#{grantBean.client.name}"/>
                    </h:outputFormat>
                </h3>

                <div class="col-xs-10 col-xs-offset-1 permissionsBlock">
                    <ui:repeat var="s" value="#{grantBean.scopes}">
                        <span class="col-xs-12 permission vCenter">
                            <span class="col-xs-1 vCenter scopeIcon"><h:outputText value="#{s.icon}" escape="false"/></span>
                            <span class="col-xs-10 vCenter">
                                <span class="scopeHeader">#{s.titleDe}</span>
                                <span class="scopeDescription">#{s.descriptionDe}</span>
                            </span>
                        </span>
                    </ui:repeat>
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h:commandButton value="#{msg.denyAccess}" action="#{grantBean.denyAccess}" styleClass="btn btn-danger"/>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <h:commandButton value="#{msg.grantAccess}" action="#{grantBean.grantAccess}" styleClass="btn btn-success"/>
                        </div>
                        <div class="checkbox pull-right" style="margin-right: 25px;">
                            <label>
                                <h:selectBooleanCheckbox value="#{grantBean.remember}" />
                                #{msg.remember}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </div>
</ui:define>

</ui:composition>
