<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div class="footer-wrapper">

            <div class="content">

                <h1>Samply.Authentication</h1>

                <span>
                    <h:outputText value="#{msg.indexPageDescription}" escape="false"/>
                </span>

                <div class="col-md-10 col-md-offset-1" style="margin-top: 40px;">
                    <h:graphicImage value="#{resource['images/samply.auth.png']}" width="100%"/>
                </div>

            </div>

            <div class="push"></div>

        </div>

        <ui:include src="/components/footer.xhtml"/>

    </ui:define>

</ui:composition>
