<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="invitation" value="#{userBean.invitationUuid}"/>
    <f:viewAction action="#{userBean.initInvitation}" />
</f:metadata>

    <ui:define name="body">

        <div>

            <h1>#{msg.errorOccured}</h1>

            <h2>
                <h:outputText value="#{msg.invalidInvitationLink}" escape="false" />
            </h2>

        </div>

    </ui:define>

</ui:composition>
