<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content">

        <div class="col-xs-8 col-xs-offset-2">
                <ui:include src="/components/messages.xhtml" />
        </div>

        <h2>Public Keys</h2>

        <h:form>

            <table class="table table-striped table-hover col-xs-12">
                <thead>
                    <tr>
                        <th class="col-xs-1" scope="col">ID</th>
                        <th class="col-xs-4" scope="col">Description</th>
                        <th class="col-xs-5" scope="col">Fingerprint</th>
                        <th class="col-xs-2" scope="col"><span class="pull-right">Actions</span></th>
                    </tr>
                </thead>

                <tbody>
                    <ui:repeat var="key" value="#{keyBean.keys}">
                    <tr class="tableVCenter">
                        <td>
                            #{key.id}
                        </td>
                        <td>
                            #{key.description}
                        </td>
                        <td style="font-family: 'Monospace';">
                            #{keyBean.getFingerPrint(key)}
                        </td>
                        <td>
                            <div class="dropdown pull-right">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    <i class="fa fa-chevron-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><h:commandLink action="#{keyBean.delete(key)}" value="Delete"/></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </ui:repeat>

                </tbody>
            </table>

        </h:form>

        <h:form>
            <div class="col-xs-12 well form-horizontal">
                <h3>New Public Key</h3>

                <div class="form-group">
                    <h:outputLabel value="#{msg.description}" for="description" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText value="#{keyBean.description}" id="description" pt:placeholder="#{msg.descriptionPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.publicKey}" for="publicKey" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputTextarea style="font-family: 'Monospace';" rows="20" value="#{keyBean.publicKey}" id="publicKey" pt:placeholder="#{msg.publicKeyPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <h:commandButton action="#{keyBean.commit}" value="#{msg.addKey}" styleClass="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

    </div>

</ui:define>

</ui:composition>
