<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="redirect_uri" value="#{grantBean.redirectUrl}"/>
    <f:viewParam name="client_id" value="#{grantBean.clientId}"/>
    <f:viewParam name="scope" value="#{grantBean.scope}"/>
    <f:viewParam name="ip" value="#{grantBean.ip}"/>
    <f:viewParam name="state" value="#{grantBean.state}"/>
    <f:viewParam name="nonce" value="#{grantBean.nonce}"/>
    <f:viewParam name="invitation" value="#{userBean.invitationUuid}"/>
    <f:viewAction action="#{loginBean.init}" />
</f:metadata>

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">

    <div class="footer-wrapper">

        <div class="content">

            <div class="col-sm-6 col-sm-offset-3 form-container well">

                <div class="form-horizontal">

                    <h:form id="loginform">

                        <h3>
                            #{msg.login}
                            <h:outputText rendered="#{loginBean.provider != null}" value=" - #{loginBean.provider.label}"/>
                        </h3>

                        <h:panelGroup layout="block" rendered="#{userBean.isInvited()}">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-success">
                                    <h:outputText value="#{msg.useInvitation}"/>
                                </li>
                            </ul>
                        </h:panelGroup>

                        <ui:fragment rendered="#{loginBean.provider == null}">

                            <h:panelGroup rendered="#{applicationBean.shibboleth.active}" styleClass="form-group" layout="block">
                                <div class="col-md-12">
                                    <h:outputLink styleClass="btn btn-lg btn-primary btn-block" value="#{requestBean.shibbolethUrl}">
                                        <h:outputText value="#{msg.loginShibboleth}"/>
                                    </h:outputLink>
                                </div>
                            </h:panelGroup>

                            <ui:repeat value="#{applicationBean.ldapProviders}" var="ldap">
                                <h:panelGroup rendered="#{ldap.id != 0 and ldap.active}" styleClass="form-group" layout="block">
                                    <div class="col-md-12">
                                        <h:commandLink styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.selectIdentityProvider(ldap.id)}"
                                                       value="#{msg.loginWith} #{ldap.label}">
                                            <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                            <f:param name="client_id" value="#{param.client_id}"/>
                                            <f:param name="scope" value="#{param.scope}"/>
                                            <f:param name="nonce" value="#{param.nonce}"/>
                                            <f:param name="css" value="#{param.css}"/>
                                            <f:ajax render="@form"/>
                                        </h:commandLink>
                                    </div>
                                </h:panelGroup>
                            </ui:repeat>

                            <ui:repeat var="a" value="#{applicationBean.adfsProviders}">
                                <h:panelGroup styleClass="form-group" rendered="#{a.active}" layout="block">
                                    <div class="col-md-12">
                                        <h:commandLink styleClass="btn btn-lg btn-primary btn-block" value="#{msg.loginWithExternalCredentials}: #{a.label}"
                                                       action="#{userBean.redirect(a, grantBean.clientId, grantBean.redirectUrl, grantBean.scope,
                                                                grantBean.state, grantBean.nonce)}"/>
                                    </div>
                                </h:panelGroup>
                            </ui:repeat>

                            <ui:repeat var="sqlP" value="#{applicationBean.sqlProviders}">
                                <h:panelGroup styleClass="form-group" rendered="#{sqlP.id != 0 and sqlP.active}" layout="block">
                                    <div class="col-md-12">
                                        <h:commandLink styleClass="btn btn-lg btn-primary btn-block" value="#{msg.loginWith} #{sqlP.label}"
                                                       action="#{loginBean.selectIdentityProvider(sqlP.id)}">
                                            <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                            <f:param name="client_id" value="#{param.client_id}"/>
                                            <f:param name="scope" value="#{param.scope}"/>
                                            <f:param name="nonce" value="#{param.nonce}"/>
                                            <f:param name="css" value="#{param.css}"/>
                                            <f:ajax render="@form"/>
                                        </h:commandLink>
                                    </div>
                                </h:panelGroup>
                            </ui:repeat>

                            <h:panelGroup rendered="#{applicationBean.localAccountsActive}" styleClass="form-group" layout="block">
                                <div class="col-md-12">
                                    <h:outputLink value="register.xhtml" rendered="#{userBean.invited}"
                                                  styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.selectIdentityProvider(0)}">
                                        <h:outputText value="#{msg.registerLocalAccount}"/>
                                    </h:outputLink>
                                    <h:commandLink styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.selectIdentityProvider(0)}"
                                                   value="#{msg.loginWithLocalAccount}" rendered="#{!userBean.invited}">
                                        <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                        <f:param name="client_id" value="#{param.client_id}"/>
                                        <f:param name="scope" value="#{param.scope}"/>
                                        <f:param name="nonce" value="#{param.nonce}"/>
                                        <f:param name="css" value="#{param.css}"/>
                                        <f:ajax render="@form"/>
                                    </h:commandLink>
                                </div>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{applicationBean.clientCertificateAuthentication and ! applicationBean.hideClientCertificateButton}" styleClass="form-group" layout="block">
                                <div class="col-md-12">
                                    <h:outputLink styleClass="btn btn-lg btn-primary btn-block" value="clientCert/authenticate.xhtml">
                                        <h:outputText value="#{msg.loginClientCertificate}"/>
                                        <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                        <f:param name="client_id" value="#{param.client_id}"/>
                                        <f:param name="scope" value="#{param.scope}"/>
                                        <f:param name="nonce" value="#{param.nonce}"/>
                                        <f:param name="css" value="#{param.css}"/>
                                    </h:outputLink>
                                </div>
                            </h:panelGroup>

                        </ui:fragment>

                        <ui:fragment rendered="#{loginBean.provider != null}">

                            <div class="form-group">
                                <h:outputLabel value="#{loginBean.providerTypeAsString != 'LDAP' ? msg.email : msg.ldapAccount}" for="email" styleClass="control-label col-xs-4"/>

                                <div class="col-xs-8">
                                    <h:inputText value="#{loginBean.email}" id="email" styleClass="form-control auto-focus" pt:autofocus="autofocus"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <h:outputLabel value="Password" for="password" styleClass="control-label col-xs-4"/>

                                <div class="col-xs-8">
                                    <h:inputSecret value="#{loginBean.password}" id="password" styleClass="form-control"/>
                                </div>
                            </div>

                            <div class="form-group form-btn">
                                <h:commandButton value="Login" styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.login}">
                                    <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                    <f:param name="client_id" value="#{param.client_id}"/>
                                    <f:param name="scope" value="#{param.scope}"/>
                                    <f:param name="nonce" value="#{param.nonce}"/>
                                    <f:param name="css" value="#{param.css}"/>
                                </h:commandButton>
                            </div>

                            <div class="form-group form-btn">
                                <h:commandLink value="#{msg.cancel}" styleClass="btn btn-lg btn-primary btn-block" action="#{loginBean.deselectIdentityProvider}">
                                    <f:param name="redirect_uri" value="#{param.redirect_uri}"/>
                                    <f:param name="client_id" value="#{param.client_id}"/>
                                    <f:param name="scope" value="#{param.scope}"/>
                                    <f:param name="nonce" value="#{param.nonce}"/>
                                    <f:param name="css" value="#{param.css}"/>
                                    <f:ajax render="@form"/>
                                </h:commandLink>
                            </div>

                            <h:panelGroup styleClass="form-group" layout="block" rendered="#{loginBean.providerId == 0}">
                                <div class="col-xs-12">
                                    <h:outputLink value="register.xhtml" rendered="#{configBean.registrationEnabled || userBean.invited}"><h:outputText value="#{msg.register}"/></h:outputLink>
                                    <h:outputLink value="recovery.xhtml" styleClass="pull-right"><h:outputText value="#{msg.forgotPassword}"/></h:outputLink>
                                </div>
                            </h:panelGroup>

                            <ui:fragment rendered="#{loginBean.showResendButton}">
                                <ul class="list-group">
                                    <li class="list-group-item list-group-item-danger">
                                        <h:commandLink action="#{loginBean.resend}" value="#{msg.verificationRequired}"/>
                                    </li>
                                </ul>
                            </ui:fragment>

                        </ui:fragment>

                        <ui:include src="/components/messages.xhtml"/>

                        <div class="form-group">
                            <h:outputLabel for="rememberMe" value="#{msg.rememberMe}" styleClass="control-label col-xs-4"/>

                            <div class="col-xs-8">
                                <!-- Do not enable select2 for simple requests. IE Compatibility -->
                                <h:selectOneMenu id="rememberMe" styleClass="form-control #{requestBean.isCssSimple() ? '' : 'select2'}" value="#{userBean.rememberMeMode}">
                                    <f:selectItems var="item" value="#{applicationBean.rememberMeModes}" itemValue="#{item}" itemLabel="#{msg[item]}"/>
                                    <f:ajax execute="@this" />
                                </h:selectOneMenu>
                            </div>
                        </div>

                        <h:outputScript rendered="#{! requestBean.isCssSimple()}">
                            $(function() {
                                enableSelect2();
                            });
                        </h:outputScript>

                        <h:outputScript>
                            $(function () {
                                $(".auto-focus").trigger("focus");
                            });
                        </h:outputScript>

                    </h:form>

                </div>

            </div>

        </div>

        <div class="push"></div>

    </div>

    <ui:include src="/components/footer.xhtml"/>

</ui:define>

</ui:composition>
