<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="redirect_uri" value="#{logoutBean.redirectUrl}"/>
    <f:viewParam name="client_id" value="#{logoutBean.clientId}"/>
    <f:viewAction action="#{logoutBean.logout()}"/>
</f:metadata>

</ui:composition>
