<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

    <ui:param name="bodyClass" value="container" />

    <ui:define name="body">

        <div>

            <h1>
                <h:outputText value="#{msg.serverMaintenance}"/>
            </h1>


            <h2>
                <h:outputText value="#{msg.serverMaintenanceRequired}"/>
            </h2>

        </div>

    </ui:define>

</ui:composition>
