<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    xmlns:auth="http://samply.de/auth"
    template="components/default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">
    <div class="content">

        <div class="col-xs-8 col-xs-offset-2">
            <ui:include src="/components/messages.xhtml" />
        </div>

        <h:form rendered="#{! userBean.user.emailVerified}">
            <ul class="col-xs-8 col-xs-offset-2">
                <li class="list-group-item list-group-item-danger">
                    <h:commandLink action="#{userBean.resendActivation()}" value="#{msg.verificationMissing}">
                        <f:ajax render=":messages"/>
                    </h:commandLink>
                </li>
            </ul>
        </h:form>

        <h:form>
            <div class="col-xs-8 col-xs-offset-2 well form-horizontal">
                <h3>Contact Information</h3>

                <div class="form-group">
                    <h:outputLabel value="#{msg.firstName}" for="firstName" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText readonly="#{userBean.user.external}" value="#{profileBean.firstName}" id="firstName" pt:placeholder="#{msg.firstNamePlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.lastName}" for="lastName" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText readonly="#{userBean.user.external}" value="#{profileBean.lastName}" id="lastName" pt:placeholder="#{msg.lastNamePlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.contactData}" for="contact" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputText readonly="#{userBean.user.external}" value="#{profileBean.contact}" id="contact" pt:placeholder="#{msg.contactPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.searchable}" for="searchable" styleClass="col-xs-4 control-label" />

                    <h:panelGroup layout="block" styleClass="col-xs-8">
                        <div class="checkbox">
                            <label>
                                <h:selectBooleanCheckbox id="searchable" value="#{profileBean.searchable}"/>
                            </label>
                        </div>
                    </h:panelGroup>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <h:commandButton action="#{profileBean.saveContactInformation}" value="Save" styleClass="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form rendered="#{!userBean.user.external}">
            <div class="col-xs-8 col-xs-offset-2 well form-horizontal">
                <h3>Change password</h3>

                <div class="form-group">
                    <h:outputLabel value="#{msg.oldPassword}" for="passwordCurrent" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputSecret value="#{profileBean.password}" id="passwordCurrent" pt:placeholder="#{msg.oldPasswordPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.newPassword}" for="password" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputSecret value="#{profileBean.newPassword}" id="password" pt:placeholder="#{msg.newPasswordPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <h:outputLabel value="#{msg.newPassword}" for="passwordRepeat" styleClass="control-label col-xs-4"/>

                    <div class="col-xs-8">
                        <h:inputSecret value="#{profileBean.newPasswordRepeat}" id="passwordRepeat" pt:placeholder="#{msg.newPasswordRepeatPlaceholder}" styleClass="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <h:commandButton action="#{profileBean.changePassword}" value="#{msg.changePassword}" styleClass="btn btn-default"/>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>

        <h:form rendered="#{userBean.user.clientCertificate}">

            <div class="col-xs-8 col-xs-offset-2 well form-horizontal">

                <h3>Client Certificates</h3>

                <table id="table" class="table table-striped table-hover col-xs-12">
                    <thead>
                        <tr>
                            <th class="col-xs-5" scope="col">#{msg['subjectDN']}</th>
                            <th class="col-xs-5" scope="col">#{msg['serialNumber']}</th>
                            <th class="col-xs-2" scope="col"><span class="pull-right">#{msg['admin.actions']}</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        <ui:repeat value="#{profileBean.clientCertificates}" var="cc">
                            <td>
                                #{cc.subjectDN}
                            </td>
                            <td>
                                #{auth:toHex(cc.serialNumber)}
                            </td>
                            <td>
                                <div class="dropdown pull-right">
                                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <h:commandLink value="#{msg.removeClientCertificate}" action="#{profileBean.removeClientCertificate(cc)}"/>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </ui:repeat>
                    </tbody>
                </table>

                <div class="pull-right">
                    <h:link outcome="/clientCert/bind" value="#{msg.bindCertificate}" styleClass="btn btn-primary" />
                </div>

            </div>

        </h:form>

    </div>

</ui:define>

</ui:composition>
