<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">

    <div class="content">

        <div class="col-sm-6 col-sm-offset-3 form-container well">

            <div class="form-horizontal">

                <h3>
                    #{msg.passwordRecovery}
                </h3>

                <h:form id="loginform" >

                    <div class="form-group">
                        <h:outputLabel value="Email" for="email" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{resetBean.email}" id="email" pt:placeholder="Your email address" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="alert alert-warning clearfix">
                                <h:outputText value="#{msg.passwordRecoveryExternal}"/>

                                <ui:repeat var="ip" value="#{applicationBean.identityProviders}">
                                    <h:panelGroup rendered="#{ip.passwordRecoveryLink.length() > 0}" styleClass="col-xs-12" layout="block">
                                        <a href="#{ip.passwordRecoveryLink}">#{ip.label}</a>
                                    </h:panelGroup>
                                </ui:repeat>
                            </div>
                        </div>
                    </div>

                    <ui:include src="/components/messages.xhtml"/>

                    <div class="form-group form-btn">
                        <h:commandButton value="#{msg.recover}" styleClass="btn btn-lg btn-primary btn-block" action="#{resetBean.recover}">
                            <f:ajax render="messages" execute="@form"/>
                        </h:commandButton>
                    </div>

                </h:form>

            </div>

        </div>

    </div>

</ui:define>

</ui:composition>
