<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewAction action="#{registerBean.init}" />
</f:metadata>

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">

    <div class="content">

        <div class="col-sm-6 col-sm-offset-3 form-container well">

            <div class="form-horizontal">

                <h3>
                    #{msg.register}
                </h3>

                <h:form id="registerform">

                    <div class="form-group">
                        <h:outputLabel value="#{msg.email}" for="email" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{registerBean.email}" id="email" pt:placeholder="#{msg.emailPlaceholder}" styleClass="form-control"
                                required="true" disabled="#{userBean.invited}" requiredMessage="#{msg.emailMissing}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.password}" for="password" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputSecret value="#{registerBean.password}" id="password" pt:placeholder="#{msg.passwordPlaceholder}" styleClass="form-control"/>

                            <ui:include src="components/passwordPolicy.xhtml" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.password}" for="passwordRepeat" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputSecret value="#{registerBean.passwordRepeat}" id="passwordRepeat" pt:placeholder="#{msg.passwordRepeat}" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.firstName}" for="firstName" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{registerBean.firstName}" id="firstName" pt:placeholder="#{msg.firstNamePlaceholder}" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.lastName}" for="lastName" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputText value="#{registerBean.lastName}" id="lastName" pt:placeholder="#{msg.lastNamePlaceholder}" styleClass="form-control"
                                required="true" requiredMessage="#{msg.nameMissing}"/>
                        </div>
                    </div>

                    <ui:include src="/components/messages.xhtml"/>

                    <div class="form-group form-btn">
                        <h:commandButton value="Register" styleClass="btn btn-lg btn-primary btn-block" action="#{registerBean.register}"/>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <h:outputLink value="login.xhtml">
                                <h:outputText value="#{msg.alreadyRegistered}"/>
                            </h:outputLink>
                        </div>
                    </div>

                </h:form>

            </div>

        </div>

    </div>

</ui:define>

</ui:composition>
