<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<ui:param name="bodyClass" value="container"/>

<f:metadata>
    <f:viewParam name="code" value="#{resetBean.code}"/>
    <f:viewAction action="#{resetBean.initialize}"/>
</f:metadata>

<ui:define name="body">

    <div class="content">

        <div class="col-sm-6 col-sm-offset-3 form-container well">

            <div class="form-horizontal">

                <h3>
                    #{msg.resetPassword}
                </h3>

                <h:form id="loginform">

                    <div class="form-group">
                        <h:outputLabel value="#{msg.newPassword}" for="password" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputSecret value="#{resetBean.password}" id="password" pt:placeholder="Your password" styleClass="form-control"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel value="#{msg.newPassword}" for="passwordRepeat" styleClass="control-label col-xs-4"/>

                        <div class="col-xs-8">
                            <h:inputSecret value="#{resetBean.passwordRepeat}" id="passwordRepeat" pt:placeholder="Repeat your password" styleClass="form-control"/>
                        </div>
                    </div>

                    <ui:include src="/components/messages.xhtml"/>

                    <div class="form-group form-btn">
                        <h:commandButton value="#{msg.resetPassword}" styleClass="btn btn-lg btn-primary btn-block" action="#{resetBean.reset}"/>
                    </div>

                </h:form>

            </div>

        </div>

    </div>

</ui:define>

</ui:composition>
