<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                template="components/default.xhtml">

    <f:metadata>
        <f:viewAction action="#{shibbolethTestBean.init}" />
    </f:metadata>

    <ui:param name="bodyClass" value="container"/>

    <ui:define name="body">

        <div class="footer-wrapper">

            <div class="content">

                <div class="col-sm-6 col-sm-offset-3 form-container well">

                    <div class="form-horizontal">

                        <h3>
                            <h:outputText value="#{msg.shibbolethAuthenticationTest}"/>
                        </h3>

                        <div class="col-md-12">

                            <div class="col-md-3">

                                <ui:fragment rendered="#{shibbolethTestBean.authenticationDone}">
                                    <i style="font-size: 20pt;" class="fa fa-check-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                                <ui:fragment rendered="#{! shibbolethTestBean.authenticationDone}">
                                    <i style="font-size: 20pt;" class="fa fa-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                            </div>

                            <div class="col-md-9">

                                <h:outputText value="#{msg.shibbolethAuthenticationDone}"/>

                            </div>

                        </div>

                        <div class="col-md-12">

                            <div class="col-md-3">

                                <ui:fragment rendered="#{shibbolethTestBean.authenticationOk}">
                                    <i style="font-size: 20pt;" class="fa fa-check-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                                <ui:fragment rendered="#{! shibbolethTestBean.authenticationOk}">
                                    <i style="font-size: 20pt;" class="fa fa-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                            </div>

                            <div class="col-md-9">

                                <h:outputText value="#{msg.shibbolethAuthenticationOk}"/>

                            </div>

                        </div>

                        <div class="col-md-12">

                            <div class="col-md-3">

                                <ui:fragment rendered="#{shibbolethTestBean.attributesOk}">
                                    <i style="font-size: 20pt;" class="fa fa-check-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                                <ui:fragment rendered="#{! shibbolethTestBean.attributesOk}">
                                    <i style="font-size: 20pt;" class="fa fa-square-o" aria-hidden="true"></i>
                                </ui:fragment>

                            </div>

                            <div class="col-md-9">

                                <h:outputText value="#{msg.shibbolethAuthenticationAttributes}"/>

                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top: 40px;">

                            <p>

                                <h:outputText value="#{msg.shibbolethNotAuthenticated}" rendered="#{! shibbolethTestBean.authenticationDone}"/>

                                <ui:fragment rendered="#{shibbolethTestBean.authenticationDone}">

                                    <h:outputText value="#{msg.shibbolethAuthenticationNotWorking}" rendered="#{! shibbolethTestBean.authenticationOk}"/>

                                    <h:outputText value="#{msg.shibbolethAuthenticationWorking}" rendered="#{shibbolethTestBean.authenticationOk and
                                    ! shibbolethTestBean.attributesOk}"/>

                                    <h:outputText value="#{msg.shibbolethAuthenticationWorkingProperly}" rendered="#{shibbolethTestBean.authenticationOk and
                                    shibbolethTestBean.attributesOk}"/>

                                </ui:fragment>

                            </p>

                        </div>

                    </div>

                </div>

                <div class="col-sm-12 form-container well">
                    <div class="form-horizontal">

                        <h3>
                            <h:outputText value="#{msg.shibbolethAuthenticationDebug}"/>
                        </h3>

                        <div class="col-md-12">
                            <br/><br/>
                            <ui:repeat value="#{shibbolethTestBean.headerNames}" var="key">
                                <h:outputText value="Header: #{key}; "/>
                                <h:outputText value="Value: #{shibbolethTestBean.headerValues[key]}"/><br/>
                            </ui:repeat>
                        </div>

                    </div>
                </div>

            </div>

            <div class="push"></div>

        </div>

        <ui:include src="/components/footer.xhtml"/>

    </ui:define>

</ui:composition>
