<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2016 Medizinische Informatik in der Translationalen Onkologie,
  ~ Deutsches Krebsforschungszentrum in Heidelberg
  ~
  ~ This program is free software; you can redistribute it and/or modify it under
  ~ the terms of the GNU Affero General Public License as published by the Free
  ~ Software Foundation; either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  ~ FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  ~ details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program; if not, see http://www.gnu.org/licenses.
  ~
  ~ Additional permission under GNU GPL version 3 section 7:
  ~
  ~ If you modify this Program, or any covered work, by linking or combining it
  ~ with Jersey (https://jersey.java.net) (or a modified version of that
  ~ library), containing parts covered by the terms of the General Public
  ~ License, version 2.0, the licensors of this Program grant you additional
  ~ permission to convey the resulting work.
  -->

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
    template="components/default.xhtml">

<f:metadata>
    <f:viewParam name="verificationUuid" value="#{shibbolethVerificationBean.verificationUuid}"/>
    <f:viewAction action="#{shibbolethVerificationBean.init}" />
</f:metadata>

<ui:param name="bodyClass" value="container"/>

<ui:define name="body">

    <div class="footer-wrapper">

        <div class="content">

            <div class="col-sm-6 col-sm-offset-3 form-container well">

                <div class="form-horizontal">

                    <h3>
                        <h:outputText value="#{msg.verifyIdentity}"/>
                    </h3>

                    <h:outputText value="#{msg.verifyIdentityDetail}"/>

                    <h:form id="verifyform">

                        <div class="form-group">
                            <h:outputLabel value="#{msg.email}" for="email" styleClass="control-label col-xs-4"/>

                            <div class="col-xs-8">
                                <h:inputText value="#{shibbolethVerificationBean.email}" id="email" pt:placeholder="#{msg.emailPlaceholder}" styleClass="form-control"
                                             required="true" requiredMessage="#{msg.emailMissing}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <h:outputLabel value="#{msg.firstName}" for="firstName" styleClass="control-label col-xs-4"/>

                            <div class="col-xs-8">
                                <h:inputText value="#{shibbolethVerificationBean.firstName}" id="firstName" pt:placeholder="#{msg.firstNamePlaceholder}" styleClass="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <h:outputLabel value="#{msg.lastName}" for="lastName" styleClass="control-label col-xs-4"/>

                            <div class="col-xs-8">
                                <h:inputText value="#{shibbolethVerificationBean.lastName}" id="lastName" pt:placeholder="#{msg.lastNamePlaceholder}" styleClass="form-control"/>
                            </div>
                        </div>

                        <ui:include src="/components/messages.xhtml"/>

                        <div class="form-group form-btn">
                            <h:commandButton value="Verify" styleClass="btn btn-lg btn-primary btn-block" action="#{shibbolethVerificationBean.verify}"/>
                        </div>

                    </h:form>

                </div>

            </div>

        </div>

        <div class="push"></div>

    </div>

    <ui:include src="/components/footer.xhtml"/>

</ui:define>

</ui:composition>
